%button {
  /* Reset */
  cursor: pointer;
  outline: 0;
  /* Layout */
  display: inline-block;
  padding: .6em 1.2em;
  /* Looks */
  background: $c-primary;
  color: #fff;
  text-decoration: none;
  border: 1px solid $c-primary;
  border-radius: 2px;
  font-weight: 600;

  &.is-disabled {
    opacity: 0.4;
    cursor: default;
  }

  & > .fa {
    margin-right: 0.8em;
  }
}

.button {
  @extend %button;

  font-size: $fs-small;
}

.button--light {
  @extend %button;

  background: none;
  font-size: $fs-small;
  color: $c-primary;
  border: 1px solid $c-primary;
}

.button--mobile {
  @extend %button;
  font-size: $fs-normal;
  font-weight: 400;

  height: $input-mobile-height;
  padding: 0.4em 1em;
}

button:focus {
  outline: none; // for OS X
}

/**********************************************/
/* TOUCH SPECIFIC STYLING                     */
/**********************************************/
.no-touch {
  .button, .button-mobile {

    &.is-disabled:hover {
      background: $c-primary;
    }

    &:hover {
      background: darken($c-primary, 5%);
      text-decoration: none;
    }
  }

  .button--light {

    &.is-disabled:hover {
      background: $c-primary;
    }

    &:hover {
      background-color: $c-primary;
      color: $c-white;
    }
  }
}