// base colors
$c-orange: #ff9c00;
$c-white: #fff;
$c-grey: #b9b9b9;
$c-grey-dark: #7a7a7a;
$c-green: #5cbd3d;
$c-red: #d92929;
$c-yellow: #ffefc8;
$c-blue: #4978ac;

// standard colors
$c-primary: $c-orange;
$c-border: $c-grey-dark;

// background colors
$c-background: #e6e6e6;
$c-background-dark: $c-grey-dark;
$c-background-light: $c-grey;

// font colors
$c-text: #2e2e2e;
$c-text-light: $c-grey-dark;
$c-text-dark-bg: #f3f3f3;

// status colors
$c-status-okay: $c-green;
$c-status-error: $c-red;






