// base colors
$c-red: #cf1c22;
$c-dark: #312e43;
$c-creme: #ebe0c0; // alternative: #e3d6aa;
$c-green: #8ec840;
$c-blue: #4978ac;
$c-grey: #f6f6f6;
$c-yellow: #ffefc8;

// background colors
$c-background: $c-creme;
$c-content-bg: #fcf9f2;
$c-mobile-content-bg: #fbf9f2;
$c-table-row-dark: #f9f8f6;
$c-status-okay: $c-green;
$c-status-error: $c-red;
$c-status-message-bg: #fbf2d5;

// font colors
$c-text-dark-bg: #9795a2;
$c-text-dark-bg-highlight: #eaeaea;
$c-text: #363636;

// standard colors
$c-primary: $c-red;
