html, body {
  height: 100%;
  background-color: $c-background;
}

#wrapper {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}

.request-spinner-wrapper {
  z-index: 99999;
  position: fixed;
  left: 50%;
  top: 30%;

  .request-spinner-container {
    background-color: white;
    position: relative;
    left: -50%;
    top: -50%;
  }
}

.overlay {
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
  background-color: black;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0s 0.5s;

  &.show {
    opacity: 0.6;
    visibility: visible;
    transition: opacity 0.5s;
  }
}

.content-placeholder {
  @include clearfix;

  padding-top: $header-height;
  padding-bottom: $footer-height;

  &>div{
    height: 100%;
  }
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  top: $input-mobile-height;
  background-color: $c-white;
  list-style: none;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border: 1px solid $c-border;
  box-shadow: 0 2px 1px 0 rgba(120, 120, 120, 0.3);

  /* Text formatting */
  white-space: nowrap;
  color: $c-text;

  li {
    line-height: $input-mobile-height;
    font-size: $fs-normal;

    &:not(:last-child) {
      border-bottom: 1px solid $c-border;
    }
  }
}

.no-mobile {
  display: none;
}

.input-error {
  display: block;
  font-size: $fs-small;
  color: $c-status-error;
  margin-top: 0.1em;
  margin-bottom: 1em;
}

@include respond-above("medium") {

  .dropdown-menu {
    top: $input-height;

    li {
      line-height: $input-height;
      cursor: pointer;
    }
  }

  .no-mobile {
    display: inherit;
  }
}

/* AngularJS stuff */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}