body {
  background-color: $c-background;
}

.view-container {
  @include span(6);

  position: relative;
  min-height: 10em; // to enforce the box-shadow
  background-color: $c-content-bg;
  box-shadow: 0 55px 40px -50px rgba(0,0,0,0.3);
  z-index: 10;
  padding: 1em;
}

.section-header {
  @include span(6);
  margin-top: 3em;
  padding: 1em;
  background: $c-red url("../images/bg_pattern.jpg") repeat;

  font-weight: bold;
  color: #fff;

  .fa {
    margin-right: 0.5em;
  }
}

.btn-info {
  background-color: $c-dark;
  border: none;
}

.btn-danger {
  background-color: $c-red;
  border: none;
}

.btn-success {
  background-color: $c-green;
  border: none;
}


@include respond-above("medium") {
  body {
    background-image: url("../images/bg.jpg");
    background-size: 100% auto;
  }
}
