$inputs-text: 'input[type="text"], input[type="password"], input[type="email"], textarea';
$inputs-check: 'input[type="checkbox"], input[type="radio"]';

$input-height: 2.3rem; // non-mobile
$input-mobile-height: 2.8rem; // mobile

/*
 * Text Input
 */
input[type='text'] {
  @extend %input;

  font-size: $fs-normal;
  height: $input-mobile-height;
  padding: .4em .6em;
}

@include respond-above("medium") {

  input[type='text'] {
    height: $input-height;
    padding: .3em .6em;
  }
}

/*
 * Checkboxes
 */
input[type="checkbox"] {
  display: none;

  & + label::before {
    @include fa-icon();
    content: $fa-var-square-o;
    width: 1em;
    color: $c-primary;
    vertical-align: middle;
    margin-right: .5em;
  }
  &:checked + label::before {
    content: $fa-var-check-square-o;
  }
  & + label {
    cursor: pointer;
    display: block;
  }
}

/*
 * Radio Buttons
 */
input[type=radio] {
  display: none;
  & + label::before {
    @include fa-icon();
    content: $fa-var-circle-o;
    width: 1em;
    color: $c-text;
    vertical-align: middle;
    margin-right: .5em;
  }
  &:checked + label::before {
    content: $fa-var-dot-circle-o;
  }
  & + label {
    cursor: pointer;
    display: block;
  }
  &:focus + label::before {
    color: $c-primary;
  }
}

/*
 * Text Inputs
 */
%input {
  font-family: $ff-body;
  display: block;
  border: 1px solid $c-border;
  border-radius: 3px;
  width: 100%;
  background: white;
  position: relative;

  &:focus {
    border-color: $c-primary;
  }
}