%list {

}

.list--sortable {
  list-style: none;
  li {
    cursor: move;
  }
  li:before {
    @include fa-icon();
    content: $fa-var-sort;
    width: 1em;
    color: #444;
    vertical-align: middle;
    margin-right: .2em;
  }
}
