.dropdown-menu {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  list-style: none;
  background-color: $c-white; //$c-background;
  border: 1px solid $c-border;

  li {
    padding: 0.5em;
    border-bottom: none;

    &.active {
      background-color: $c-background-light;
    }
  }

  a {
    color: $c-text;
    text-decoration: none;
  }
}