%modal {

  .modal-close {
    color: $c-text;
    position: absolute;
    right: 1em;
    top: 1em;
  }

  .modal-title {
    display: block;
    margin-bottom: 0.5em;
  }

  .modal-subtitle {
    display: block;
  }
}

.modal {
  @extend %modal;

  padding: 0.5em;
}

.modal-dialog {
  margin: 1em 0 0 0;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  background-clip: padding-box;
  outline: 0;
}

.modal-header {
  border-bottom: none;
}

.modal-body {

  fieldset {
    margin-bottom: 0.3em;
  }
}

.modal-footer {
  margin: 0;
  padding: 0 1em 1em 1em;
  border-top: none;
}

.modal-footer-annotation {
  display: block;
  text-align: left;
  margin-top: 1.5em;
  font-size: $fs-small;
  font-style: italic;
}

.modal-twitter-link {
  display: block;
}

.modal-forgot-password {
  display: block;
  margin-top: 0.3em;
  font-size: $fs-small;
}

.modal-annotation {
  display: block;
  margin-top: 2em;
  font-size: $fs-small;
  line-height: 1.4em;
}


.input-alert {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 0.3em;
  color: $c-red;

  &:before {
    font-family: FontAwesome;
    content: "\f071\00a0";
  }
}

@include respond-above("medium") {

  .modal {
    padding: 2em;
  }

  .modal-dialog {
    margin: 2.5em auto;
    padding: 1.5em;
  }
}
