%tabs {
  @include container;
  @extend %clearfix;
  .tabs-list {
    @include span(3 of 12);
    font-size: $fs-normal;
    font-weight: 600;
    line-height: 1.2em;
    list-style: none;
    li {
      padding: 0.5em;
      cursor: pointer;
      border-bottom: 1px #eee solid;
    }
    li.is-active {
      background: $c-primary;
      color: #111;
    }
  }

  .tabs-content {
    @include span(9 of 12);
    margin-left: 0;
    list-style: none;
    background: #f0f0f0;
    padding: 0.5em;
    min-height: 10em;
    border-radius: 3px;

    [tabs-tab] { // custom attribute
      overflow: auto;
      display: none;
      &.is-active {
        display: block;
      }
    }
  }
}

.tabs {
  @extend %tabs;
}

.tabs-horizontal {
  list-style: none;
  li {
    padding: 0.5em 0;
    cursor: pointer;
    //border-right: 1px #eee solid;
    border-top: 5px white solid;
    border-bottom: 5px white solid;
    font-size: $fs-large;
    @include span(4 of 12);
    &.is-active {
      border-top-color: $c-primary;
    }
  }
  li:last-of-type {
    border-right: 0;
  }
}
