$ff-body: 'Helvetica', sans-serif;
$ff-headline: 'Roboto', sans-serif;

$fs-smallest: 0.7em;
$fs-smaller: 0.8em;
$fs-small: 0.9em;

$fs-normal: 1em;

$fs-large: 1.1em;
$fs-larger: 1.2em;
$fs-largest: 1.4em;

html {
  font-size: 16px; // standard font size
}

body {
  font-size: 100%;
}

strong {
  font-weight: 600;
}

body {
  font-family: $ff-body;
  color: $c-text;
}

h1, h2, h3, h4, h5 {
  font-family: $ff-headline;
}

h1 {
  font-size: $fs-largest;
  line-height: 1em;
  font-weight: normal;

}

h2 {
  font-size: $fs-large;
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

p {
  font-size: $fs-normal;
  line-height: 1.6em;
}

a, a:visited {
  color: $c-primary;
  text-decoration: none;
  cursor: pointer;
}

.no-touch a:hover {
  text-decoration: underline;
}

// font classes
span.bold {
  font-weight: 800;
}

span.light {
  font-weight: 300;
}