$ff-body: 'Source Sans Pro', sans-serif;
$ff-headline: $ff-body;

$fs-small: 0.85em;

$fs-normal: 1em;

$fs-large: 1.4em;
$fs-larger: 1.8em;
$fs-largest: 2em;

html {
  font-size: 18px;
}

body {
  font-size: 100%;
}

strong {
  font-weight: 600;
}

body {
  font-family: $ff-body;
  color: $c-text;
}

h1, h2, h3, h4, h5 {
  font-family: $ff-headline;
}

h1 {
  font-size: $fs-largest;
  line-height: 1em;
  font-weight: 700;
}

h2 {
  font-size: $fs-larger;
  font-weight: 700;
}

h4 {

}

p {
  font-size: $fs-normal;
  line-height: 1.6em;
}

.annotation {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px #333 solid;

  font-size: $fs-small;
  line-height: 1.4em;
}

a, a:hover {
    color: $c-primary;
  }
