// Original theme
$ff-body: 'Open Sans', sans-serif;
$ff-headline: 'Roboto Slab', sans-serif;

// Tim's theme
$ff-body: 'Source Sans Pro', sans-serif;
$ff-headline: $ff-body;

$fs-small: 0.85em;

$fs-normal: 1em;

$fs-large: 1.4em;
$fs-larger: 1.8em;
$fs-largest: 2em;

html {
  font-size: 18px;
}

body {
  font-size: 100%;
}
/*
@media (min-width: 768px) {
  body {
    font-size: 120%;
  }
}

@media (min-width: 1080px) {
  body {
    font-size: 150%;
  }
}
*/

strong {
  font-size: 600;
}
