// header
$header-height: 3.5em;
$header-padding: .9em;
$slider-height: 3em;
$profile-image-size: 2em;

// result screen
$selection-width: 20em;
$selection-toggle-size: 1.8em;
$refine-control-height: 2.4em;

// footer
$footer-height: 2em;

// elements
$button-height: 2.3em;