// header area
$logo-container-width: 18em;
$logo-container-height: 10em;
$logo-width: 9em;

// index
$dropzone-width: 18em;
$dropzone-height: 6em;

// input elements
$input-height-mobile: 2.4rem;
$input-height: 2.2rem; // non-mobile





