// header
$header-height: 3.5rem;
$header-padding: .65rem;
$slider-height: 2.4rem;
$navigation-image-size: 2rem;
$profile-image-size: 6rem;

// result screen
$selection-width: 20rem;
$selection-toggle-size: 1.8rem;
$refine-control-height: 2.4rem;

// footer
$footer-height: 2rem;

// elements
$button-height: 2.3rem;