<h3 class="settings-sub-title">{[ "dashboard_bookings_label" | translate ]}</h3>

<div ng-show="bookingList.length > 0">
  <table>
    <thead>
      <tr>
        <th>{[ "general_title" | translate ]}</th>
        <th>{[ "general_destination" | translate ]}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="settings-bookings-item" ng-repeat="booking in bookingList">
        <td>{[booking.title]}</td>
        <td>{[booking.destination]}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="bookings-empty-message" ng-show="!bookingList || bookingList.length == 0">
  {[ "dashboard_bookings_empty" | translate ]}
</div>
