<h3 class="settings-sub-title">{[ "dashboard_favorites_title" | translate ]}</h3>

<table ng-show="favorites.length > 0">
  <tr>
    <th>{[ "general_origin" | translate ]}</th>
    <th>{[ "general_destination" | translate ]}</th>
    <th></th>
  </tr>
  <tbody ui-sortable="sortableOptions" ng-model="favorites">
    <tr class="settings-favorites-item" ng-repeat="favorite in favorites">
      <td>{[favorite.origin.description]}</td>
      <td>{[favorite.destination.description]}</td>
      <td><input type="button" class="button" ng-click="deleteFavorite(favorite)" value="Delete"></button></td>
    </tr>
  </tbody>
</table>

<div class="empty-favorite-message" ng-show="favorites.length == 0">
  {[ "dashboard_favorites_empty" | translate ]}
</div>
