<h3>Favorites</h3>
<table ng-show="favorites.length > 0">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Action</th>
  </tr>
  <tbody ui-sortable="sortableOptions" ng-model="favorites">
    <tr ng-repeat="favorite in favorites">
      <td>{[favorite.origin.description]}</td>
      <td>{[favorite.destination.description]}</td>
      <td><input type="button" ng-click="deleteFavorite(favorite)" value="Delete"></button></td>
    </tr>
  </tbody>
</table>

<div class="empty-favorite-message" ng-show="favorites.length == 0">
  {[ "dashboard_favorites_empty" | translate ]}
</div>
