<h3 class="settings-sub-title">{[ "settings_preferences_title" | translate ]}</h3>

<div class="settings-preferences">
  <form name="preferenceForm">
    <div ng-repeat="preference in userPreferences">

      <!-- Multi choice setting -->
      <div ng-if="preference.options">
        <editable-options
          class="settings-preferences-attribute"
          label="preference.description"
          key="preference.key"
          value="preference.value"
          options="preference.options"
          save="saveSetting">
        </editable-options>
      </div>

      <!-- Text setting -->
      <div ng-if="!preference.options">
        <editable-text-field
          class="settings-preferences-attribute"
          label="preference.description"
          key="preference.key"
          value="preference.value"
          save="saveSetting">
        </editable-text-field>
      </div>
    </div>
  </form>
</div>
