<h1>Preferences</h1>

<div class="user-preferences-wrapper">
  <form name="preferenceForm">
    <div ng-repeat="preference in userPreferences">

      <!-- Multi choice setting -->
      <div ng-if="preference.options">
        <editable-dropdown
          label="preference.description"
          key="preference.key"
          value="preference.value"
          options="preference.options"
          save="saveSetting">
        </editable-dropdown>

      </div>

      <!-- Text setting -->
      <div ng-if="!preference.options">
        <editable-text-field
          label="preference.description"
          key="preference.key"
          value="preference.value"
          save="saveSetting">
        </editable-text-field>
      </div>
    </div>
  </form>
</div>
