<form name="profileForm">

  <div class="settings-profile-group">
    <span class="settings-profile-group-title"><i class="fa fa-user"></i>Personal info</span>

    <editable-text-field
            class="settings-profile-attribute"
            key="'first_name'"
            value="userProfile.first_name"
            label="'settings_profile_firstname'"
            save="saveProfile"></editable-text-field>

    <editable-text-field
            class="settings-profile-attribute"
            key="'last_name'"
            value="userProfile.last_name"
            label="'settings_profile_lastname'"
            save="saveProfile"></editable-text-field>

    <editable-text-field
            class="settings-profile-attribute"
            key="'company_name'"
            value="userProfile.company_name"
            label="'settings_profile_company'"
            save="saveProfile"></editable-text-field>
  </div>

  <div class="settings-profile-group">
    <span class="settings-profile-group-title"><i class="fa fa-map-marker"></i>Address</span>

    <editable-text-field
      class="settings-profile-attribute"
      key="'street'"
      value="userProfile.street"
      label="'settings_profile_address_street'"
      save="saveProfile"></editable-text-field>

    <editable-text-field
      class="settings-profile-attribute"
      key="'zip_code'"
      value="userProfile.zip_code"
      label="'settings_profile_address_zip'"
      save="saveProfile"></editable-text-field>

    <editable-text-field
      class="settings-profile-attribute"
      key="'city'"
      value="userProfile.city"
      label="'settings_profile_address_city'"
      save="saveProfile"></editable-text-field>

    <editable-dropdown
      class="settings-profile-attribute"
      key="'country'"
      value="userProfile.country"
      label="'settings_profile_address_country'"
      options="countryList"
      save="saveProfile">
    </editable-dropdown>
  </div>
</form>
