<h1>Profile</h1>

<form name="profileForm">

  <div class="form-group">
    <label>Image</label>
    <img ng-src="{[userProfile.image]}" width="150" height="150"/>
    <input type="file"
            id="profile-picture"
            ng-file-select
            ng-model="profilePicture"
            name="profilePicture"
            ng-change="uploadImage($event)">
    <span ng-show="isUploading">Uploading, please wait...</span>
  </div>


  <editable-text-field
    key="'first_name'"
    value="userProfile.first_name"
    label="'First Name'"
    save="saveProfile"></editable-text-field>

  <editable-text-field
    key="'last_name'"
    value="userProfile.last_name"
    label="'Last Name'"
    save="saveProfile"></editable-text-field>

  <editable-text-field
    key="'company_name'"
    value="userProfile.company_name"
    label="'Company Name'"
    save="saveProfile"></editable-text-field>

  <editable-text-field
    key="'street'"
    value="userProfile.street"
    label="'Street'"
    save="saveProfile"></editable-text-field>

  <editable-text-field
    key="'address_other'"
    value="userProfile.address_other"
    label="'Other Address'"
    save="saveProfile"></editable-text-field>

  <editable-text-field
    key="'zip_code'"
    value="userProfile.zip_code"
    label="'Zip Code'"
    save="saveProfile"></editable-text-field>

</form>
