<form name="profileForm">

  <div class="settings-profile-group">
    <span class="settings-profile-group-title"><i class="fa fa-user"></i>{[ "settings_profile_info" | translate ]}</span>

    <editable-text-field
            class="settings-profile-attribute"
            field-config="editableFields.firstName"
            save="saveProfile"></editable-text-field>

    <editable-text-field
            class="settings-profile-attribute"
            field-config="editableFields.lastName"
            save="saveProfile"></editable-text-field>

    <editable-text-field
            class="settings-profile-attribute"
            field-config="editableFields.companyName"
            save="saveProfile"></editable-text-field>
  </div>

  <div class="settings-profile-group">
    <span class="settings-profile-group-title"><i class="fa fa-map-marker"></i>{[ "settings_profile_address_title" | translate ]}</span>

    <editable-text-field
      class="settings-profile-attribute"
      field-config="editableFields.street"
      save="saveProfile"></editable-text-field>

    <editable-text-field
      class="settings-profile-attribute"
      field-config="editableFields.zipCode"
      save="saveProfile"></editable-text-field>

    <editable-text-field
      class="settings-profile-attribute"
      field-config="editableFields.city"
      save="saveProfile"></editable-text-field>

    <editable-dropdown
      class="settings-profile-attribute"
      field-config="editableFields.country"
      save="saveProfile">
    </editable-dropdown>
  </div>
</form>
