<section class="settings wrapper">
    <div class="section-header"><i class="fa fa-cogs"></i>{[ i18n.settings_title | translate ]}</div>
    <div class="view-container">

      <div class="settings-navigation">
        <ul>
          <li class="active">{[ i18n.settings_profile_title | translate ]}</li>
          <li>{[ i18n.settings_payment_title | translate ]}</li>
          <li>{[ i18n.settings_preferences_title | translate ]}</li>
        </ul>
      </div>

      <div class="settings-content">

        SETTINGS

      </div>
    </div>
</section>
