<section class="settings">
  <div ng-show='isLogin'>
    <!-- TOP NAVIGATION -->
    <div class="settings-top">
      <ul class="settings-top-menu">
        <li ng-class="{active: $state.includes('settings.profile') || $state.includes('settings.preferences')}"
            class="settings-top-menu-item">
          <a ui-sref="settings.profile">{[ "settings_nav_profile" | translate ]}</a>
        </li>
        <li ng-class="{active: $state.includes('settings.booking.list') || $state.includes('settings.booking.detail')}"
            class="settings-top-menu-item">
          <a ui-sref="settings.booking.list">{[ "settings_nav_bookings" | translate ]}</a>
        </li>
        <li ui-sref-active="active" class="settings-top-menu-item no-mobile">
          <a ui-sref="settings.favorite">{[ "settings_nav_favorites" | translate ]}</a>
        </li>
      </ul>
    </div>

    <!-- SIDE BAR -->
    <div class="settings-side">
      <div class="settings-side-profile">
        <div class="settings-side-profile-image">
          <img ng-src="{[ userProfile['image'] ? userProfile['image'] : '/images/avatar.svg' ]}"
               alt="user image"
               ng-file-select
               ng-file-change="uploadImage($files)" />
          <span class="settings-side-profile-image-label"><i class="fa fa-folder-open"></i>{[ "settings_profile_upload" | translate ]}</span>
          <span ng-show="isUploading">{[ "settings_profile_uploading" | translate ]}</span>
        </div>

        <span class="settings-side-profile-name" ng-if="userProfile['first_name']">{[ userProfile['first_name'] ]} {[ userProfile['last_name'] ]}</span>
        <span class="settings-side-profile-name" ng-if="!userProfile['first_name']">Mr. No Name</span>
        <span class="settings-side-profile-date">{[ "settings_profile_member" | translate ]} {[ userProfile['registration_date'] ? userProfile['registration_date'] : 2015 ]}</span>
      </div>

      <ul class="settings-side-navigation">
        <li ui-sref-active="active" class="settings-side-navigation-item">
          <i class="fa fa-user"></i>
          <a ui-sref="settings.profile">{[ "settings_nav_overview" | translate ]}</a>
        </li>
        <li ui-sref-active="active" class="settings-side-navigation-item">
          <i class="fa fa-cog"></i>
          <a ui-sref="settings.preferences">{[ "settings_nav_preferences" | translate ]}</a>
        </li>
        <li ui-sref-active="active" class="settings-side-navigation-item">
          <i class="fa fa-credit-card"></i>
          <a ui-sref="settings.payment">{[ "settings_nav_payment" | translate ]}</a>
        </li>
        <li ui-sref-active="active" class="settings-side-navigation-item">
          <i class="fa fa-eye-slash"></i>
          <a ui-sref="settings.privacy">{[ "settings_nav_privacy" | translate ]}</a>
        </li>
        <li ui-sref-active="active" class="settings-side-navigation-item">
          <i class="fa fa-sign-out"></i>
          <a ng-click="logout()">{[ "settings_nav_logout" | translate ]}</a>
        </li>
      </ul>
    </div>

    <!-- CONTENT AREA -->
    <div class="settings-content">
      <div ui-view></div>
    </div>
  </div>
</section>
