<section class="settings wrapper">
    <div class="section-header"><i class="fa fa-cogs"></i>{[ "settings_title" | translate ]}</div>
    <div class="view-container">

      <div class="settings-navigation">
        <ul>
          <li class="active">
            <a ui-sref="settings.profile">{[ "settings_profile_title" | translate ]}</a>
          </li>
          <li>
            <a ui-sref="settings.preferences">{[ "settings_preferences_title" | translate ]}</a>
          </li>
          <li>{[ "settings_privacy_title" | translate ]}</li>
          <li>{[ "settings_history_title" | translate ]}</li>
        </ul>
      </div>

      <div class="settings-content">

        <div ui-view></div>

      </div>
    </div>
</section>
