<div class='booked-trips-container'>
  <div class='carousel-container'>
    <div class='carousel-inner'>
      <div class='row'>
        <div ng-repeat='item in listItems | arraySlice:offset:itemPerPage' class='booked-trips-item col-md-4'>
          <div class='booked-trips-item-container'>

            <div class='booked-trips-item-data-group'>
              <h3>Event Name</h3>
              <p>{[item.title]}</p>
            </div>

            <div class='booked-trips-item-data-group'>
              <h3>Destination</h3>
              <p>{[item.destination]}</p>
            </div>

            <div class='booked-trips-item-data-group'>
              <h3>Travel Date</h3>
              <p>{[item.startDate | date:"dd MMM yyyy"]} - {[item.endDate | date:"dd MMM yyyy"]}</p>
            </div>

            <div class='booked-trips-item-data-group'>
              <div class='row'>
                <div class='col-md-6'>
                  <h3>Start Time</h3>
                  <p>{[item.startDate | date:"hh:mm a"]}</p>
                </div>
                <div class='col-md-6'>
                  <h3>End Time</h3>
                  <p>{[item.endDate | date:"hh:mm a"]}</p>
                </div>
              </div>
            </div>

            <div class='booked-trips-item-data-group'>
              + View all information
            </div>

            <hr/>

            <div class='booked-trips-participants'>
              <div class='booked-trips-participants-item' ng-repeat='participant in item.participants'>
                <div class='row'>
                  <div class='col-md-2'>
                    <img src='{[participant.image]}' class='participant-image'/>
                  </div>
                  <div class='col-md-7'>
                    <div class='participant-name'>{[participant.firstName]} {[participant.lastName]}</div>
                    Est arrival time {[participant.arrivalTime | date: "hh:mm a"]}
                  </div>
                  <div class='col-md-3'>
                    <div class='participant-status' ng-class='{booked: participant.booked}'>
                      Booked
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='carousel-dots'>
      <ul>
        <li ng-repeat='number in [1,totalPage] | range' ng-click='changePage(number)' ng-class='{active: number == currentPage}'>
          <i class='fa fa-circle'></i>
        </li>
      </ul>
    </div>
  </div>
</div>