<div class='visible-list' ng-show='listItems.length > 0'>
  <div ng-repeat='item in listItems | arraySlice:offset:itemPerPage'
       class='{[slideDirection]} booking-item'>
    <div class='booking-item-container'>

      <div class='booking-item-data-group'>
        <span class='booking-item-label'>{[ "dashboard_bookings_event" | translate ]}</span>
        <span class='booking-item-event'>{[item.title]}</span>
      </div>

      <div class='booking-item-data-group'>
        <span class='booking-item-label'>{[ "general_destination" | translate ]}</span>
        <span class='booking-item-location'>{[item.destination]}</span>
      </div>

      <div class='booking-item-data-group'>
        <span class='booking-item-label'>{[ "dashboard_bookings_date" | translate ]}</span>
        <span class='booking-item-date'>{[item.startDate | date:"dd MMM yyyy"]} - {[item.endDate | date:"dd MMM yyyy"]}</span>
      </div>

      <div class='booking-item-data-group'>
          <div class='booking-item-column'>
            <span class='booking-item-label'>{[ "dashboard_bookings_starttime" | translate ]}</span>
            <span class='booking-item-date'>{[item.startDate | date:"hh:mm a"]}</span>
          </div>
          <div class='booking-item-column'>
            <span class='booking-item-label'>{[ "dashboard_bookings_endtime" | translate ]}</span>
            <span class='booking-item-date'>{[item.endDate | date:"hh:mm a"]}</span>
          </div>
      </div>

      <div class='booking-item-data-group'>
        <a ui-sref="settings.booking.detail({id: item.id})">{[ "dashboard_bookings_more" | translate ]}</a>
      </div>

      <div class='booking-participants'>
        <div class='booking-participant-item' ng-repeat='participant in item.participants'>
          <img ng-src='{[participant.image]}' class='booking-participant-image'/>
          <div class='booking-participant-details'>
            <span class='booking-participant-name'>{[participant.firstName]} {[participant.lastName]}</span>
            <span class='booking-participant-arrival-time' ng-if='participant.booked'>{[ "dashboard_bookings_arrival" | translate ]} {[participant.arrivalTime | date: "hh:mm a"]}</span>
          </div>
          <div class='booking-participant-status'>
              <span class='booking-participant-status-indicator' ng-class='{booked: participant.booked}'>Booked</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class='paging list-paging'>
    <a ng-click='previousPage()' ng-disabled='disablePreviousPageButton'><i class='fa fa-angle-left'></i></a>
      {[ "general_pagination_page" | translate ]} {[currentPage]} {[ "general_pagination_of" | translate ]} {[totalPage]}
    <a ng-click='nextPage()' ng-disabled='disableNextPageButton'><i class='fa fa-angle-right'></i></a>
  </div>
</div>

<div class='bookings-empty-message' ng-show='listItems.length === 0'>
  {[ "dashboard_bookings_empty" | translate ]}
</div>

