<section class="dashboard wrapper">
  <div class="view-container" ng-if='isLogin'>
    <div class='dashboard-favorites-container'>
      <h3>{[ "dashboard_favorites_title" | translate ]}</h3>
      <favorite-list
              list-items='favoriteList'
              item-per-page="{[numberOfFavorites]}"
              select-favorite='selectFavorite'></favorite-list>
    </div>
    <div class='dashboard-bookings-container'>
      <h3>{[ "dashboard_bookings_title" | translate ]}</h3>
      <booked-trips list-items='bookedTripList' item-per-page="{[numberOfTrips]}"></booked-trips>
    </div>
  </div>

  <div class="view-container" ng-if='!isLogin'>
    <h1>{[ "dashboard_title" | translate ]}</h1>

    <div class="dashboard-info-box">
      <div class="dashboard-info-icon trip"></div>

      <h3>{[ "dashboard_info_endtoend_title" | translate ]}</h3>
      <div class="dashboard-info-text">
        <span>
          {[ "dashboard_info_endtoend_text1" | translate ]}
        </span>
        <span>
          {[ "dashboard_info_endtoend_text2" | translate ]}
        </span>
      </div>
    </div>

    <div class="dashboard-info-box">
      <div class="dashboard-info-icon plane"></div>

      <h3>{[ "dashboard_info_profile_title" | translate ]}</h3>
      <div class="dashboard-info-text">
        {[ "dashboard_info_profile_text" | translate ]}
      </div>
    </div>

    <div class="dashboard-info-box">
      <div class="dashboard-info-icon calendar"></div>

      <h3>{[ "dashboard_info_date_title" | translate ]}</h3>
      <div class="dashboard-info-text">
        {[ "dashboard_info_date_text" | translate ]}
      </div>
    </div>

    <div class="dashboard-info-box">
      <div class="dashboard-info-icon suitcase"></div>

      <h3>{[ "dashboard_info_meetings_title" | translate ]}</h3>
      <div class="dashboard-info-text">
        {[ "dashboard_info_meetings_text" | translate ]}
      </div>
    </div>
  </div>

</section>