<fieldset>
  <label class="editable-dropdown-label">{[fieldConfig.description | translate]}</label>
  <select ng-model="fieldConfig.value"
          id="{[fieldConfig.key]}"
          name="{[fieldConfig.key]}"
          ng-change="save(fieldConfig.value)"
          ng-class="{ error: error, success: success }"
          ng-options="item.value as item.description for item in fieldConfig.options">
  </select>
  <span class="input-status">
    <i class="fa fa-check"></i>
    <i class="fa fa-exclamation"></i>
  </span>
</fieldset>
