<fieldset>
  <label class="editable-options-label">{[label | translate]}</label>
  <span ng-repeat="option in options">
    <input type="radio"
           ng-model="value"
           value="{[ option.value ]}"
           id="{[ key ]}_{[ option.value ]}"
           name="{[ key ]}"
           ng-click="save(option.value)"
           ng-class="{ error: error, success: success }" />
    <label for="{[ key ]}_{[ option.value ]}">{[option.description | translate | capitalize]}</label>
  </span>
</fieldset>


