<fieldset>
  <label class="editable-options-label">{[fieldConfig.description | translate]}</label>
  <span ng-repeat="option in fieldConfig.options">
    <input type="radio"
           ng-model="fieldConfig.value"
           value="{[ option.value ]}"
           id="{[ fieldConfig.key ]}_{[ option.value ]}"
           name="{[ fieldConfig.key ]}"
           ng-click="save(option.value)"
           ng-class="{ error: error, success: success }" />
    <label for="{[ fieldConfig.key ]}_{[ option.value ]}">{[option.description | translate | capitalize]}</label>
  </span>
</fieldset>


