<fieldset>
  <label>{[ label | translate ]}</label>
  <div ng-show="!isEditing" ng-click="edit()" ng-class="{success: success}">
    <span ng-if="value">{[value]}</span>
    <span ng-if="!value">{[ "settings_other_edit" | translate]}</span>
    <span ng-show="!(success && value)"><i class="fa fa-pencil"></i></span>
    <span ng-show="success && value"><i class="fa fa-check"></i></span>
  </div>
  <div ng-show="isEditing">
    <input type="text"
          ng-model="value"
          value="{[value]}"
          ng-class="{error: error}"/>
    <input type="button" ng-click="save(value)" value="Save"/>
    <span ng-show="error"><i class="fa fa-exclamation"></i></span>

  </div>
</fieldset>

