<div class="language-dropdown dropdown"
     ng-class="{ active: showLanguageList }"
     ng-click="showLanguageList = !showLanguageList"
     ng-mouseenter="showLanguageList = true"
     ng-mouseleave="showLanguageList = false">

  <span class="dropdown-label">
    {{ selectedLanguage.name }}
  </span>
  <ul ng-show="showLanguageList">
    <li ng-repeat="(code, language) in languages" ng-show="language !== selectedLanguage" ng-click="selectLanguage(language)">{{ language.name }}</li>
  </ul>
</div>