<span class="ttg-timeline">
  <span class="ttg-timeline-start"
        ng-class="{ focus: !timing['targetDate'] }"></span>

  <span class="ttg-timeline-item">
    <span class="ttg-timeline-line"></span>

    <span ng-repeat="container in itinerary['segmentsContainer']"
          ng-init="containerIndex = $index">

      <span ng-repeat="segment in container['alternatives'][alternativeIndex(containerIndex)]"
            ng-if="segment['departureTime'] && (!showDetails && segment['isMajor'] && isPrioritySegment(containerIndex) || showDetails)"
            ng-init="segmentIndex = $index">

        <span ng-if="segment['alternatives'][timingIndex(containerIndex, segmentIndex)]['segments']">
          <timeline-segment
            ng-repeat="detailSegment in segment['alternatives'][timingIndex(containerIndex, segmentIndex)]['segments']"
            ng-if="detailSegment['type'] !== 1 && detailSegment['duration'] !== 0"
            segment="detailSegment"
            ratio="{{ dimensions.ratio }}"
            set-dimensions="setDimensions(data)"
            define-left-margin="defineMarginLeft(time)">
          </timeline-segment>
        </span>
        <span ng-if="!segment['alternatives'][timingIndex(containerIndex, segmentIndex)]['segments']">
          <timeline-segment
            ng-if="segment['duration'] !== 0"
            segment="segment"
            ratio="{{ dimensions.ratio }}"
            set-dimensions="setDimensions(data)"
            define-left-margin="defineMarginLeft(time)">
          </timeline-segment>
        </span>
      </span>
    </span>
  </span>
  <span class="ttg-timeline-end"
        ng-class="{ focus: timing['targetDate'] }"></span>
</span>