%about {
  /*********************************************************/
  /* INTRO                                                 '/
  /*********************************************************/
  .about-intro {
    background: url("../images/intro_about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .about-intro-container {
    width: 100%;
    padding: 2em 0;
  }

  .about-intro-image {
    display: block;
    width: 7em;
    padding-right: 2em;
    margin: 0 auto 1em auto;
  }

  .about-intro-info {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .about-intro-info-title {
    line-height: $fs-large;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .about-intro-info-text {
    text-align: justify;
    margin-bottom: 1em;
  }

  .about-intro-text {
    width: 90%;
    text-align: justify;
    margin: 0 auto 2em auto;
    font-weight: bold;
  }

  .about-intro-button {
    text-align: center;

    .button {
      padding: 0.6em 3em;
    }
  }

  @include respond-above("medium") {

    .about-intro-container {
      width: 65%;
      margin: 0 auto;
      padding: 4em 0;
    }

    .about-intro-image {
      display: inline-block;
      width: 25%;
      max-width: 8em;
      padding: 0;
      margin-top: 0.5em;
      margin-right: 2em;
      margin-left: 1em;
    }

    .about-intro-info {
      display: inline-block;
      width: 70%;
      vertical-align: top;
      margin: 0 0 2em 0;
    }

    .about-intro-info-text {
      margin-bottom: 0;
    }

    .about-intro-text {
      width: auto;
      margin: 0 0 2em 0;
      text-align: center;
    }
  }

  /*********************************************************/
  /* STORY                                                 */
  /*********************************************************/
  .about-story {
    padding: 2em 0;
    background-color: $c-grey;
    text-align: center;

  }

  .about-story-title {
    font-size: $fs-large;
    margin-bottom: 1.5em;
  }

  .about-story-abstract {
    margin-bottom: 1em;
  }

  @include respond-above("medium") {

    .about-story {
      padding: 3em 0;
    }
  }

  /*********************************************************/
  /* TEAM                                                  */
  /*********************************************************/
  .about-team {
    padding: 2em 0;
    background-color: $c-white;
  }

  .about-team-title {
    text-align: center;
    font-size: $fs-large;
    margin-bottom: 1.5em;
  }

  .about-team-list {
    display: block;
    list-style: none;
  }

  .about-team-list-item {
    display: block;
    text-align: center;
    margin-bottom: 2em;
  }

  .about-team-list-item-image {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-bottom: 0.3em;
  }

  .about-team-list-item-name {
    font-weight: bold;
  }

  .about-team-list-item-role {
    font-size: $fs-small;
    color: $c-primary;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 1em;
    border-bottom: 1px solid $c-border;
  }

  .about-team-list-item-social {
    list-style: none;
    margin-top: 0.5em;
  }

  .about-team-list-item-social-item {
    display: inline-block;
    margin-right: 0.5em;
    border: 1px solid darken($c-border, 10%);
    border-radius: 50%;

    &:last-child {
      margin-right: 0;
    }

    .fa {
      font-size: $fs-normal;
      color: $c-text;
      padding: 0.8em;
    }
  }

  @include respond-above("medium") {

    .about-team {
      @include clearfix;
      padding: 3em 0;
    }

    .about-team-list {
      width: 90%;
      margin: 0 auto;
    }

    .about-team-list-item {
      @include span(2);
    }

    .about-team-list-item-social-item {
      margin-right: 0.5em;

      &:hover {
        background-color: $c-primary;
        border-color: $c-primary;

        .fa {
          color: $c-white;
        }
      }

      .fa {
        padding: 0.3em;
      }
    }
  }

  /*********************************************************/
  /* MISSION                                               */
  /*********************************************************/
  .about-mission {
    padding: 2em;
    text-align: center;
    background-color: $c-grey-dark;
  }

  .about-mission-title {
    font-size: $fs-large;
    margin-bottom: 1.5em;
    color: $c-white;
  }

  .about-mission-quote {
    position: relative;
    color: $c-white;

    .fa {
      position: absolute;
      top: 0;
      z-index: 1;
      font-size: $fs-larger;
      color: black;
    }

    .fa-quote-left {
      left: -0.6em;
    }

    .fa-quote-right {
      right: -0.6em;
    }
  }

  .about-mission-quote-text {
    position: relative;
    z-index: 3;
    font-style: italic;
  }

  @include respond-above("medium") {

    .about-mission {
      padding: 4em;
    }

    .about-mission-quote {
      display: inline-block;

      .fa {
        font-size: $fs-largest;
      }

      .fa-quote-left {
        left: -0.8em;
      }

      .fa-quote-right {
        right: -0.8em;
      }
    }

    .about-mission-quote-text {
      font-size: $fs-largest;
      font-weight: 800;
    }
  }
}

.about {
  @extend %about;
}