%result {

  .result-list-item-alternatives {
    display: block;
    margin: 2.5em 0 0.5em 0;
  }

  .result-list-item-alternatives-footer {
    display: block;
    margin-top: 1em;
    text-align: right;
  }
}

.result {
  @extend %result;
}