%booking {
  /************************************************/
  /* Booking Progress Control                     */
  /************************************************/
  $booking-process-step-size: 2.5em;

  .booking-progress {
    display: block;
    width: 95%;
    position: relative;
    z-index: 0;
    margin: 1em auto 2.5em auto;
    text-align: center;
  }

  .booking-process-line {
    position: absolute;
    width: 90%;
    z-index: 1;
    top: $booking-process-step-size/2;
    left: 5%;
    border-bottom: 2px solid $c-border;
  }

  .booking-progress-step {
    display: inline-block;
    padding-right: 2em;

    &:last-of-type {
      padding-right: 0;
    }

    &.active {

      .booking-progress-step-number {
        border-color: $c-primary;
        color: $c-text;
      }

      .booking-progress-step-label {
        display: block;
        position: absolute;
        top: $booking-process-step-size + 0.3em;
        left: 8%;

        &:before {
          @include fa-icon();
          content: $fa-var-angle-right + "\00a0";
          color: $c-primary;
        }
      }
    }
  }

  .booking-progress-step-number {
    display: block;
    position: relative;
    z-index: 3;
    width: $booking-process-step-size;
    height: $booking-process-step-size;
    background-color: $c-white;
    border: 2px solid $c-border;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.5em;
    color: $c-text-light;
  }

  .booking-progress-step-label {
    display: none;
    font-style: italic;
  }

  @include respond-above("medium") {

    .booking-progress {
      width: 70%;
      margin-bottom: 5em;
    }

    .booking-progress-step {
      position: relative;
      padding: 0 10%;
      cursor: pointer;

      &:last-of-type {
        padding-right: 10%;
      }

      &.active {
        cursor: default;

        .booking-progress-step-label {
          width: 100%;
          top: $booking-process-step-size + 1em;
          left: 0;
          color: $c-text;

          &:before {
            content: "";
          }
        }
      }
    }

    .booking-progress-step-label {
      display: block;
      position: absolute;
      font-style: normal;
      font-size: $fs-small;
      width: 100%;
      top: $booking-process-step-size + 1em;
      left: 0;
      text-align: center;
      color: $c-text-light;
    }
  }

  /************************************************/
  /* Booking Content                              */
  /************************************************/
  .booking-content {
    @include span(6);

    padding-bottom: 2em;
  }

  .booking-content-summary {
    margin-bottom: 1em;
  }

  .booking-content-summary-label {
    color: $c-text-light;
    margin-bottom: 0.6em;
  }

  .booking-content-summary-info {
    margin-bottom: 1em;
  }

  .booking-content-summary-info-location {
    display: block;
    font-size: $fs-large;
    font-weight: 600;

    &:before {
      @include fa-icon;
      content: $fa-var-map-marker + "\00a0\00a0";
    }
  }

  .booking-content-summary-info-date {
    color: $c-text-light;
    font-size: $fs-small;
  }

  @include respond-above("medium") {

    .booking-content {
      @include span(3);
    }

    .booking-content-summary-label {
      display: inline-block;
      color: lighten($c-text, 20%);
      margin-bottom: 0;
      margin-right: 3em;
      vertical-align: top;

      &.break-line {
        display: block;
      }
    }

    .booking-content-summary-info {
      display: inline-block;
      margin-bottom: 3em;
    }

    .booking-content-summary-info-location {
      margin-bottom: 0.2em;
    }

    .booking-content-summary-info-date {
      font-size: $fs-small;
    }
  }

  @include respond-above("large") {

    .booking-content {
      @include span(4);

    }
  }

  /************************************************/
  /* Booking Selection                            */
  /************************************************/
  .booking-content-title {
    font-size: $fs-large;
    margin-bottom: 0.5em;
  }

  .booking-content-list {
    list-style: none;
  }

  .booking-content-list-item {
    padding: 1em 0;
    border-top: 2px dotted darken($c-border, 10%);
  }

  .booking-content-list-item-col {

    &.icon {
      margin-right: 0.3em;
    }

    &.location {

      .title {
        font-weight: 600;
      }

      .details {
        display: block;
        margin-bottom: 0.3em;
      }

      .time {
        display: block;
        font-style: italic;
      }
    }

    &.price {
      display: block;
      text-align: right;
      font-weight: 600;
      margin-top: 0.3em;
    }

    &.include {
      display: block;
      margin-top: -1.2em;

      .disable-booking-provider-reference {
        display: inline-block;

        &:after {
          @include fa-icon();
          content: "\00a0\00a0" + $fa-var-external-link;
          font-size: $fs-small;
        }
      }
    }
  }

  .booking-content-buttons {
    @include clearfix;
    margin-top: 1em;

    &>.back {
      float: left;
      font-weight: 400;
      padding-left: 0.6em;

      &:before {
        @include fa-icon();
        content: $fa-var-angle-left + "\00a0\00a0\00a0";
      }
    }

    &>.next {
      float: right;
    }
  }

  @include respond-above("medium") {

    .booking-content-list {
      display: table;
      width: 100%;
      margin-bottom: 2em;
    }

    .booking-content-list-item {
      display: table-row;

      &:last-of-type {

        .booking-content-list-item-col {
          border-bottom: 2px dotted $c-border;
        }
      }
    }

    .booking-content-list-item-col {
      display: table-cell;
      padding: 0.8em 0;
      border-top: 2px dotted $c-border;

      &.icon {
        display: table-cell;
        margin: 0;
        padding-right: 1em;
      }

      &.location {

        .details {
          margin-bottom: 0.5em;
        }
      }

      &.price {
        display: table-cell;
        text-align: right;
        font-weight: 600;
        margin: 0;
        padding-left: 2em;
      }

      &.include {
        display: table-cell;
        text-align: right;
        margin: 0;
        padding-left: 2em;

        .disable-booking-provider-reference {
          margin-top: 0.2em;
        }
      }
    }

    .booking-content-buttons {
      margin-top: 0;
      margin-bottom: 2em;
    }
  }

  /************************************************/
  /* Booking Sidebar                              */
  /************************************************/
  .booking-sidebar {
    display: none;
  }

  @include respond-above("medium") {

    .booking-sidebar {
      display: block;

      @include span(3);
    }

    .booking-sidebar-box {
      display: block;
      margin-bottom: 3em;
      background-color: $c-grey;
    }

    .booking-sidebar-box-title {
      display: block;
      font-size: $fs-large;
      padding: 0.6em 1.4em;
      font-weight: 600;
      background-color: darken($c-grey, 10%);

      .fa {
        margin-right: 0.8em;
      }
    }

    .booking-sidebar-box-text {
      display: block;
      padding: 0.5em 1.2em;
    }
  }

  @include respond-above("large") {

    .booking-sidebar {
      @include span(2);
    }
  }
}

.booking {
  @extend %booking;
}