%booking {
  @include container;

  width: 95%;
  padding: 1em 0.8em;
  background-color: $c-white;
  margin-bottom: 2em;
  border-radius: 3px;
  border-top: 3px solid $c-primary;

  -webkit-box-shadow: 1px 0 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 0 10px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 0 10px 2px rgba(0,0,0,0.3);

  .booking-title {      
    display: block;
    margin-bottom: 0.7em;
  }

  .booking-sub-title {
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .booking-summary {
    margin-bottom: 1.5em;
  }

  .booking-summary-item {
    display: table-row;
    margin-bottom: 0.2em;

    .fa {
      display: table-cell;
      color: $c-primary;
      padding-right: 0.5em;
    }
  }

  .booking-detail-title {
    font-weight: bold;
    margin-bottom: 1em;
  }
  
  .booking-container {

    .booking-segment-item {
      @include clearfix;
      margin-bottom: 2em;
      padding-bottom: 15px;
      border-bottom: 1px black dotted;
    }

    &:last-child {

      .booking-segment-item:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }

  .booking-segment-title {
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .booking-segment-info {

    @include respond-above("medium") {
      float: left;
    }
  }

  .booking-segment-info-item {
    margin-bottom: 0.6em;
    color: $c-text-light;

    &.duration {
      text-align: right;

      @include respond-above("medium") {
        text-align: left;
      }
    }

    &.link {
      @include respond-above("medium") {
        margin-top: 2em;
      }
    }
  }

  .booking-segment-map {
    float: left;

    .static-map img {
      width: 100%;
    }

    @include respond-above("medium") {
      float: right;

      .static-map img {
        width: auto;
        height: 20em;
      }
    }
  }

  .booking-action {

    .button {
      float: right;
      margin-left: 0.3em;
    }
  }
}

.booking {
  @extend %booking;
}
