$size-dashboard-icons: 5em;

%dashboard {
  /*******************************************************/
  /* Dashboard Container                                 */
  /*******************************************************/
  .view-container {
    @include span(6);
    padding: 1.2em 0 2em 0;
    background-color: $c-mobile-content-bg;

    h1 {
      display: block;
      text-align: center;
      margin-bottom: 1.2em;
    }
  }

  /*******************************************************/
  /* Dashboard Info Boxes                                */
  /*******************************************************/
  .dashboard-info-box {
    position: relative;
    width: 95%;
    background-color: #fff;
    margin: ($size-dashboard-icons/2 + 1em) auto 1em auto;
    padding: ($size-dashboard-icons/2 + 0.5em) 1em 1.2em 1em;
    box-shadow: 0 2px 1px 0 rgba(120, 120, 120, 0.3);
    min-height: 13em;

    h3 {
      display: block;
      color: $c-red;
      font-weight: 200;
      text-align: center;
    }
  }

  .dashboard-info-icon.trip {
    background-image: url("../images/trolley.png");
    background-size: auto 50%;
  }

  .dashboard-info-icon.plane {
    background-image: url("../images/airplane.png");
    background-size: 40% auto;
  }

  .dashboard-info-icon.calendar {
    background-image: url("../images/calendar.png");
    background-size: 40% auto;
  }

  .dashboard-info-icon.suitcase {
    background-image: url("../images/suitcase.png");
    background-size: 40% auto;
  }

  .dashboard-info-icon {
    position: absolute;
    width: $size-dashboard-icons;
    height: $size-dashboard-icons;
    vertical-align: top;

    top: -($size-dashboard-icons/2);
    left: 50%;
    margin-left: -($size-dashboard-icons/2);

    border-radius: $size-dashboard-icons/2;
    border: 1px solid #eee;

    background: white no-repeat center;
    background-size: auto 50%;
  }

  .dashboard-info-text {
    display: block;
    margin-top: 1em;
    text-align: center;
    font-weight: 200;
    color: #000;

    span {
      display: block;
      margin-bottom: 1em;
    }
  }

  @include respond-above("medium") {

    .dashboard-info-box {
      @include span(2 of 4);
      margin-bottom: 2em;
    }
  }

  /*******************************************************/
  /* Dashboard Favorites                                 */
  /*******************************************************/
  .dashboard-favorites-container {
    overflow: hidden;

    h3 {
      text-align: center;
      margin-bottom: 0.8em;
    }
  }

  .favorites-empty-message {
    font-style: italic;
    text-align: center;
    margin: 0 0.3em 2em 0.3em;
  }

  .favorite-list-box {
    @include span(6);
    position: relative;
    background-color: #fff;
    padding: 1em 1em 1em 2em;
    margin-bottom: 0.6em;
    box-shadow: 0 2px 1px 0 rgba(120, 120, 120, 0.3);
    cursor: pointer;

    &:last-of-type {
      margin-bottom: 1em;
    }

    .fa {
      position: absolute;
      font-size: $fs-small;
      top: 0.4em;
      left: 0.4em;
      color: $c-red;
    }

    span {
      display: block;
    }
  }

  .favorite-list-box-corner {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 2.5em;
    height: 2.5em;

    /* diagonal radiant */
    background: rgb(0,0,0);
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(0,0,0,1)), color-stop(51%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 );
  }

  .favorite-list-box-label {
    font-size: $fs-small;
    color: grey;
  }

  .favorite-list-box-location {
    font-size: $fs-large;
    color: $c-red;
  }

  .favorite-list-box-separator {
   margin-bottom: 0.5em;
  }

  .slide-left.ng-enter, .slide-left.ng-move {
    -webkit-animation-delay: 1s;
    @include animation(bounceInLeft 1s);
  }

  .slide-left.ng-leave {
    @include animation(bounceOutRight 0s);
  }

  .slide-right.ng-enter,
  .slide-right.ng-move {
    -webkit-animation-delay: 1s;
    @include animation(bounceInRight 1s);
  }

  .slide-right.ng-leave {
    @include animation(bounceOutLeft 0s);
  }

  .list-paging {
    width: 100%;
    text-align: center;
    margin-bottom: 0.8em;

    .fa {
      display: inline-block;
      background-color: #fff;
      font-size: $fs-large;
      color: black;
      padding: 0.3em 0.6em;
      margin: 0 1em;
      border: 1px solid rgb(219, 219, 219);
    }
  }

  @include respond-above("medium") {

    .favorite-list-box {
      @include span(3);
    }
  }

  /*******************************************************/
  /* Dashboard Bookings                                  */
  /*******************************************************/

  .dashboard-bookings-container {
    padding: 0.6em 0.2em;
    width: 100%;

    h3 {
      text-align: center;
      margin-bottom: 0.8em;
    }
  }

  .bookings-empty-message {
    font-style: italic;
    text-align: center;
    margin: 0 0.3em 2em 0.3em;
  }

  .booking-item {
    @include span(6);
  }

  .booking-item-container {
    padding: 0.6em 0.6em 0 0.6em;
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(120, 120, 120, 0.3);

    &:last-of-type {
      margin-bottom: 1em,
    }
  }

  .booking-item-data-group {
    @include clearfix;
    margin-bottom: 1em;
  }

  .booking-item-column {
    @include span(3);
  }

  .booking-item-label {
    display: block;
    font-size: $fs-small;
    color: grey;
  }

  .booking-item-event {
    font-size: $fs-large;
  }

  .booking-item-location {
    font-size: $fs-large;
    color: $c-red;
  }

  .booking-item-date {
    font-size: $fs-large;
  }

  .booking-participants {
    display: table;
  }

  .booking-participant-item {
    display: table-row;
  }

  .booking-participant-image {
    display: table-cell;
    width: 2.5em;
    padding-bottom: 1em;
  }

  .booking-participant-details {
    display: table-cell;
    vertical-align: top;
    padding: 0 0.8em 0 0.5em;
  }

  .booking-participant-status {
    display: table-cell;
    color: #fff;
    vertical-align: top;
    font-size: $fs-small;
    padding-top: 0.6em;
  }

  .booking-participant-status-indicator {
    background-color: #dddddd;
    border-radius: 3px;
    padding: 0.2em 0.4em;

    &.booked {
      background-color: $c-green;
    }
  }

  .booking-participant-name {
    display: block;
    color: $c-blue;
  }

  .booking-participant-arrival-time {
    display: block;
    color: grey;
    font-size: $fs-small;
  }



  @include respond-above("medium") {

    .booking-item {
      @include span(2);
    }
  }
}

.dashboard {
  @extend %dashboard;
}