$size-dashboard-icons: 5em;

%dashboard {
  @include clearfix;
  
  /*******************************************************/
  /* Dashboard Container                                 */
  /*******************************************************/
  .dashboard-info-title {
    display: block;
    text-align: center;
    font-size: $fs-large;
    margin-bottom: 1.2em;
  }

  @include respond-above("medium") {
    padding-bottom: 3em;
  }

  /*******************************************************/
  /* Dashboard Messages Section                          */
  /*******************************************************/
  .dashboard-message {
    position: relative;
    background-color: $c-grey;
    text-align: center;
    padding: 3em 2em;
  }

  .dashboard-message-text {
    display: inline-block;
    position: relative;
    font-weight: 800;
    z-index: 0;
    margin-left: -0.8em;
    margin-top: 0.5em;
    vertical-align: top;

    &>span {
      position: relative;
      z-index: 3;
    }

    .fa {
      position: absolute;
      z-index: 0;
      color: lighten($c-text-light, 15%);
      font-size: 3em;
    }

    .fa-quote-left {
      top: -0.2em;
      left: 0;
    }

    .fa-quote-right {
      top: 0.2em;
      right: 0;
    }
  }

  @include respond-above("medium") {

    .dashboard-message {
      padding: 2.5em 1em 3.5em 1em;
    }

    .dashboard-message-text {

      .fa-quote-right {
        top: 0;
      }
    }
  }
  
  /*******************************************************/
  /* Dashboard Info Section                              */
  /*******************************************************/
  .dashboard-info {
    @include container;
    padding: 2em 1em;
  }

  .dashboard-info-box {
    position: relative;
    background-color: $c-white;
    margin: 1em auto;
    padding: 1em;
    box-shadow: 0 2px 1px 0 rgba(120, 120, 120, 0.3);
  }

  .dashboard-info-box-image {
    width: 100%;
    height: auto;
  }

  .dashboard-info-box-title {
    display: block;
    font-size: $fs-normal;
    color: $c-text;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  .dashboard-info-box-text {
    display: block;
    color: $c-text-light;

    span {
      display: block;
      margin-bottom: 0.6em;
    }
  }

  @include respond-above("medium") {

    .dashboard-info {
      padding: 2em 1em;
    }

    .dashboard-info-box {
      @include span(4 of 8);

      padding: 1em;
      margin-bottom: 2em;
    }

    .dashboard-info-box-image {
      margin-bottom: 1em;
    }
  }

  @include respond-above("large") {

    .dashboard-info-box {
      @include span(4 of 8);
      padding: 0;
      margin-bottom: 2em;

      &.left {
        .dashboard-info-box-image {
          float: left;
        }
      }

      &.right {
        margin-top: 5em;

        .dashboard-info-box-image {
          float: right;
        }
      }
    }

    .dashboard-info-box-image {
      width: 40%;
      padding: 0;
      margin-bottom: 1em;
    }

    .dashboard-info-box-title {
      display: block;
    }

    .dashboard-info-box-text {
      width: 55%;
      float: left;
      padding: 1% 3%;

      span {
        margin-bottom: 0;
      }
    }
  }

  /*******************************************************/
  /* Dashboard Favorites                                 */
  /*******************************************************/
  .dashboard-favorites-container {
    @include container;
    overflow: hidden;

    h3 {
      text-align: center;
      margin-top: 1.8em;
      margin-bottom: 1.2em;
    }
  }

  .favorites-empty-message {
    font-style: italic;
    text-align: center;
    margin: 0 0.3em 2em 0.3em;
  }

  .favorite-list-box {
    @include span(6);
    position: relative;
    background-color: $c-white;
    padding: 1em 1em 1em 2em;
    margin-bottom: 0.6em;
    box-shadow: 0 2px 1px 0 rgba(120, 120, 120, 0.3);
    cursor: pointer;

    &:last-of-type {
      margin-bottom: 1em;
    }

    .fa {
      position: absolute;
      font-size: $fs-small;
      top: 0.4em;
      left: 0.4em;
      color: darken($c-primary, 20%);
    }

    span {
      display: block;
    }
  }

  .favorite-list-box-corner {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 2.5em;
    height: 2.5em;

    /* diagonal radiant */
    background: rgb(0,0,0);
    background: -moz-linear-gradient(-45deg, $c-orange 0%, $c-orange 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$c-orange), color-stop(50%,$c-orange), color-stop(51%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(-45deg, $c-orange 0%,$c-orange 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(-45deg, $c-orange 0%,$c-orange 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(-45deg, $c-orange 0%,$c-orange 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    background: linear-gradient(135deg, $c-orange 0%,$c-orange 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$c-orange, endColorstr='#ffffff',GradientType=1 );
  }

  .favorite-list-box-label {
    font-size: $fs-small;
    color: $c-text-light;
  }

  .favorite-list-box-location {
    font-size: $fs-large;
    color: $c-text;
  }

  .favorite-list-box-separator {
    margin-bottom: 0.5em;
  }

  .favorite-list-box-verticle-separator {
    border-left: 1px dotted $c-text;
    height: 40px;
  }

  .favorite-list-box-button {
    margin-top: 1.5em;
  }

  .favorite-list-detail {
    display: none;
  }

  .slide-left.ng-enter, .slide-left.ng-move {
    -webkit-animation-delay: 1s;
    @include animation(slideInRight 1s);
  }

  .slide-left.ng-leave {
    @include animation(slideOutLeft 0s);
  }

  .slide-right.ng-enter,
  .slide-right.ng-move {
    -webkit-animation-delay: 1s;
    @include animation(slideInLeft 1s);
  }

  .slide-right.ng-leave {
    @include animation(slideOutRight 0s);
  }

  .list-paging {
    width: 100%;
    text-align: center;
    margin-bottom: 0.8em;

    .fa {
      display: inline-block;
      background-color: #fff;
      font-size: $fs-large;
      color: $c-text;
      padding: 0.3em 0.6em;
      margin: 0 1em;
      border: 1px solid rgb(219, 219, 219);
    }
  }

  @include respond-above("medium") {

    .favorite-list-box {
      @include span(3);
    }

    .favorite-list-detail {
      display: block;
      float: left;
      width: 90%;
      background-color: #fff;
      padding: 0 1em 0 0;
      margin-bottom: 0.6em;
      box-shadow: 0 2px 1px 0 rgba(120, 120, 120, 0.3);
    }

    .favorite-list-detail-back {
      float: left;
      width: 2em;
      height: 2em;
      margin-left: 1em;
      background: $c-primary;
      color: $c-white;
      text-align: center;
      font-size: 1.2em;
      padding-top: 0.3em;
      cursor: pointer;
    }

    .favorite-list-detail-map {
      width: 40%;
      height: 13em;
      display: inline-block;
      vertical-align: top;
    }

    .favorite-list-detail-data {
      width: 55%;
      display: inline-block;
      padding: 1em;
    }
  }

  /*******************************************************/
  /* Dashboard Bookings                                  */
  /*******************************************************/

  .dashboard-bookings-container {
    @include container;
    padding: 0.6em 0.2em;

    h3 {
      text-align: center;
      margin-top: 1.8em;
      margin-bottom: 1.2em;
    }
  }

  .bookings-empty-message {
    font-style: italic;
    text-align: center;
    margin: 0 0.3em 2em 0.3em;
  }

  .booking-item {
    @include span(6);
  }

  .booking-item-container {
    padding: 0.6em 0.6em 0 0.6em;
    background-color: $c-white;
    box-shadow: 0 2px 1px 0 rgba(120, 120, 120, 0.3);

    &:last-of-type {
      margin-bottom: 1em;
    }
  }

  .booking-item-data-group {
    @include clearfix;
    margin-bottom: 1em;
  }

  .booking-item-column {
    @include span(3);
  }

  .booking-item-label {
    display: block;
    font-size: $fs-small;
    color: $c-text-light;
  }

  .booking-item-event {
    font-size: $fs-large;
  }

  .booking-item-location {
    font-size: $fs-large;
  }

  .booking-item-date {
    font-size: $fs-large;
  }

  .booking-participants {
    display: table;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid $c-border;
  }

  .booking-participant-item {
    display: table-row;
  }

  .booking-participant-image {
    display: table-cell;
    width: 2.5em;
    padding-bottom: 1em;
  }

  .booking-participant-details {
    display: table-cell;
    vertical-align: top;
    padding: 0 0.8em 0 0.5em;
  }

  .booking-participant-status {
    display: table-cell;
    color: #fff;
    vertical-align: top;
    font-size: $fs-small;
    padding-top: 0.6em;
  }

  .booking-participant-status-indicator {
    background-color: $c-grey;
    border-radius: 3px;
    padding: 0.2em 0.4em;

    &.booked {
      background-color: $c-green;
    }
  }

  .booking-participant-name {
    display: block;
    color: $c-text;
  }

  .booking-participant-arrival-time {
    display: block;
    color: $c-text-light;
    font-size: $fs-small;
  }

  @include respond-above("medium") {

    .booking-item {
      @include span(2);
    }
  }
}

.dashboard {
  @extend %dashboard;
}
