$size-dashboard-icons: 5em;

%dashboard {
  @include container;

  /*******************************************************/
  /* Dashboard Container                                 */
  /*******************************************************/
  .dashboard-container {
    @include span(24 of 24);
    position: relative;
    padding: 2em 0;
    background-color: $c-content-bg;
    box-shadow: 0 55px 40px -50px rgba(0,0,0,0.3);
    z-index: 10;

    h2 {
      text-align: center;
      margin-bottom: 1.2em;
    }
  }

  .dashboard-info-box {

    h3 {
      color: $c-red;
      font-weight: 200;
    }
  }

  .dashboard-info-icon.trip {
    background-image: url("../images/trolley.png");
    background-size: auto 50%;
  }

  .dashboard-info-icon.plane {
    background-image: url("../images/airplane.png");
    background-size: 40% auto;
  }

  .dashboard-info-icon.calendar {
    background-image: url("../images/calendar.png");
    background-size: 40% auto;
  }

  .dashboard-info-icon.suitcase {
    background-image: url("../images/suitcase.png");
    background-size: 40% auto;
  }

  .dashboard-info-icon {
    display: inline-block;
    width: $size-dashboard-icons;
    height: $size-dashboard-icons;
    margin: 1em 1em 0 0;
    vertical-align: top;

    border-radius: $size-dashboard-icons/2;
    border: 1px solid #eee;

    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50%;
  }

  .dashboard-info-text {
    display: inline-block;
    margin-top: 1em;
  }



  @include respond-above("medium") {
    .dashboard-container {

    }
  }

  @include respond-above("large") {

  }

  /*******************************************************/
  /* Dashboard Info Boxes                                */
  /*******************************************************/
  .dashboard-info-box {
    @include span(22 of 24);
    @include push(1 of 24);

    background-color: #fff;
    margin-bottom: 1em;
    padding: 2em;

    box-shadow: 0 2px 1px 0 rgba(120, 120, 120, 0.3);
  }

  @include respond-above("medium") {

    .dashboard-info-box {
      @include span(10 of 24);
      @include push(1 of 24);
    }
  }

  @include respond-above("large") {

  }
}

.dashboard {
  @extend %dashboard;
}