%footer {
  height: $footer-height;
  position: relative;
  width: 100%;
  background-color: $c-white;
  border-top: 1px solid $c-border;
  z-index: 10;

  .footer-copyright {
    display: inline-block;
    font-size: $fs-small;
    padding: 0.5em;
  }

  .footer-links {
    display: none;
  }

  .footer-contact {
    display: none;
  }

  @include respond-above("medium") {
    padding: 0.4em;

    .footer-copyright {
      font-size: $fs-normal;
      padding: 0;
    }

    .footer-links {
      display: block;
      position: absolute;
      top: 0.4em;
      left: 0;
      right: 0;
      text-align: center;
    }

    .footer-contact {
      display: block;
      position: absolute;
      right: 0;
      top: 0.4em;
      text-align: right;
    }

    a, a:visited {
      display: inline-block;
      margin: 0 0.6em;
      text-decoration: none;
      color: $c-text;
    }

    a:hover {
      color: $c-primary;
    }
  }
}

.footer {
  @extend %footer;
}
