%footer {
  width: 100%;
  color: $c-text-dark-bg;

  a, a:visited {
    color: $c-primary;
    text-decoration: none;
  }

  a:hover {
    color: $c-primary;
    text-decoration: underline;
  }

  .footer-information {
    @include clearfix;
    width: 100%;
    padding: 1.6em 0;
    background-color: #292822;

    & > div {
      @include span(6);
      padding: 0 0.8em 2.5em 0.8em;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }

  .footer-title {
    text-transform: uppercase;
    margin-bottom: 1em;
    color: #f4f4f4;

    &:after {
      content: "";
      display: block;
      width: 2em;
      border-top: 2px solid $c-primary;
      margin-top: 0.4em;
    }
  }

  .footer-about-text {
    line-height: 1.8em;
  }

  .footer-contact-list, .footer-navigation-list {
    list-style: none;
    display: table;

    li {
      display: table-row;
      line-height: 1.8em;
    }

    .fa {
      display: table-cell;
      padding-right: 0.6em;
    }
  }

  .footer-copyright {
    width: 100%;
    padding: 0.8em 1em;
    background-color: #373737;
  }

  @include respond-above("medium") {

    .footer-information > div {
      @include span(2);
      padding: 0 1.4em;
      font-size: $fs-small;
    }

    .footer-copyright {
      padding: 1.1em;
      font-size: $fs-small;
      text-align: center;
    }
  }
}

.footer {
  @extend %footer;
}