%form {
  .form-subtitle {
    font-size: $fs-larger;
    line-height: 1em;
    margin-bottom: 0.2em;
  }
  //padding: 0 1rem;

  fieldset {
    margin-bottom: 0.8em;
  }

  .form-actions {
    @extend %clearfix;
    //float: right;
    margin-bottom: 0.8em;
  }

  .form-50-50 {
    @include clearfix();
    fieldset {
      float: left;
      width: 50%;
    }
  }
}

.form {
  @extend %form;
  //@include span(12 of 12);
}

@media (min-width: 768px) {
  .form {
    //@include span(6 of 12);
  }
}

/*form.search, form.contact, form.signup {
  @extend %form;


  .title-link {
    font-size: $fs-small;
    font-weight: bold;
  }

  .box-link {
    float: right;
    margin: 3px 0 12px 0;
    font-size: $fs-small;
    font-weight: bold;
    color: $c-primary;
  }*/


  /*.ttg-input.ttg-location {
    background-image: url(../images/icon_location.png);
    background-repeat: no-repeat;
    background-position: 97.5% 50%;
    padding-right: 10px;
  }


  .ttg-input.ttg-date {
    background-image: url(../images/icon_calendar.png);
    background-repeat: no-repeat;
    background-position: 97.5% 50%;
    padding-right: 10px;
  }

  .ttg-input.ttg-time {
    background-image: url(../images/icon_time.png);
    background-repeat: no-repeat;
    background-position: 97.5% 50%;
    padding-right: 10px;
  }*/
/*
  .ttg-text-area {
    height: 160px;
    //margin-top: 10px;
    //padding: 10px;
    background-color: $c-primary--light;
    border: none;
  }

  .add-appointment {
    display: none;
    position: relative;
    margin-top: 25px;
    cursor: pointer;

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;

      padding: 0;
    }

    div {
      margin-top: -32px;
      margin-right: -13px;
      padding: 0 0 0 5px;
      float: right;
      width: 20px;
      height: 20px;
      border: 1px solid #bbb;
      border-radius: 10px;
      color: $c-primary;
      background-color: #fff;
    }
  }
}*/

.annotation.bottom-left {
    display: none;
    position: absolute;
    margin-top: -115px;
    height: 100px;
    right: 0;
    left: 55%;
    z-index: -1;
    background: url('../images/arrow_left.png') no-repeat bottom left;

    span {
      display: block;
      font-family: 'Gloria Hallelujah', cursive;
      font-size: 24px;
      color: rgba(30,0,10,0.7);
      margin-left: 50px;
    }
  }
