$logo-width: 280px;

.header {
  @extend %clearfix;

  .header-logo {
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
    a {
      display: inline-block;
      text-decoration: none;
    }
    h2 {
      font-weight: 700;
      font-size: $fs-largest;
    }
  }

  .header-navigation {
    text-align: right;
    .button--secondary {
      margin: 1rem gutter() 1rem 1rem;
      float: right;
    }
    ul {
      float: right;
      list-style: none;
      line-height: $fs-largest;
      display: inline-block;
      @extend %clearfix;
    }

    li {
      display: block;
      font-size: $fs-large;

      a {
        //padding: 0.5rem gutter();
        display: block;
        //font-weight: 600;
        text-decoration: none;
        color: $c-text;
        border-bottom: 1px solid $c-primary--light;
      }
      a:hover {
        color: $c-primary;
      }

      &.is-active a {
        background: $c-primary;
        color: $c-primary;
        color: $c-text--inverted;
      }
    }
  }

  .header-guest {
    padding: 1rem gutter() 1rem 1rem;
    text-align: right;
    .button {
      margin-left: 2rem;
    }
  }


}

@media (min-width: 768px) {
  .header {
    border-bottom: 1px $c-disabled solid;
    .header-logo {
      @include span(6 of 12);
    }
    .header-navigation {
      @include span(6 of 12 last);
      li {
        float: left;
      }
      li a {
        padding: 1.2rem 1rem;
        background: transparent;
        border: 0;
      }
      li.is-active a {
        background: transparent;
        color: $c-primary;
        border-bottom: .3rem solid $c-primary;
        border-left: 0;
        padding: 1.2rem 2rem;
      }
    }
  }

}
