$header-height: 3.5em;
$header-padding: .9em;

%header {
  //@include clearfix;

  .container {
    height: 100%;
  }

  height: $header-height;
  background: linear-gradient(#252330, #423e4c);
  padding-top: $header-padding;

  color: $c-text-dark-bg;

  .header-logo {
    height: 100%;
    float: left;
    font-size: $fs-large;

    img {
      height: 70%;
      margin-right: 0.3em;
      margin-top: -0.2em;
      vertical-align: middle;
    }

    span {
      color: #fff;
    }
  }

  .header-navigation {
    float: right;

    a, a:hover {
      display: inline-block;
      margin-right: 1em;
      color: #fff;
      text-decoration: none;
    }
  }


  @include respond-above("medium") {

    .header-logo {

    }

    .header-navigation {

    }
  }

  @include respond-above("large") {

  }
}

.header {
  @extend %header;
}
