$header-height: 3.5em;
$header-padding: .7em;

%header {
  .wrapper {
    height: 100%;
  }

  height: $header-height;
  background: linear-gradient(#252330, #423e4c);
  padding-top: $header-padding;
  color: $c-text-dark-bg;

  .header-logo {
    height: 100%;
    float: left;
    font-size: 1.5em;
    padding-left: 0.3em;

    a {
      text-decoration: none;
      color: #fff;
    }

    img {
      display: none;
    }

    span.light {
      color: $c-text-dark-bg;
    }
  }

  .header-navigation {
    display: none;
  }

  @include respond-above("medium") {

    .header-logo {

      img {
        display: inline-block;
        height: 70%;
        margin-right: 0.3em;
        vertical-align: middle;
      }
    }

    .header-navigation {
      display: block;
      float: right;
    }

    .header-navigation-login {
      display: inline-block;

      a, a:hover {
        display: inline-block;
        margin-right: 0.6em;
        color: #fff;
        text-decoration: none;
      }
    }

    .header-navigation-profile {
      display: inline-block;
    }

    .header-navigation-logout {
      text-decoration: underline;
      color: #fff;
      font-style: italic;
      cursor: pointer;
    }

    .header-settings {
      display: inline-block;

      ul {
        list-style: none;
        margin-left: 1em;
      }

      li {
        position: relative;
        display: inline-block;
        padding: 0.4em 0.8em;
        background-color: darken($c-dark, 7%);
        border-radius: 3px;
        cursor: pointer;
      }

      li:after {
        font-family: FontAwesome, sans-serif;
        font-size: $fs-small;
        content: "\00a0\00a0\f0d7";
      }

      li:hover {

        .currency-switch, .language-switch {
          display: block;
        }
      }

      .currency-switch, .language-switch {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 0;
        margin: 0;

        li {
          float: none;
          width: 200px;
          line-height: 120%;
          padding: 10px 15px;
          border-radius: 0;

          &:after {
            content: none;
          }
        }
      }

      .currency-switch-wrapper, .language-switch-wrapper{
        z-index: 1000;
      }
    }
  }

  @include respond-above("large") {

  }
}

.header {
  @extend %header;
}
