%course {
  @extend %layout;

  form.inline {
    display: inline-block;
  }

  .course-filter {
    display: inline-block;
    margin-right: 1em;

    span {
      display: inline-block;
      background-color: lighten($c-primary, 40%);
      padding: 0.6em;
      border: 1px solid #ddd;
      border-radius: 5px;
      cursor: pointer;

      &.active {
        background-color: $c-primary;
        color: white;
      }
    }
  }

  h3.inline {
    display: inline-block;
    margin-right: 0.4em;
    margin-top: 1em;
  }

  .button {
    margin-right: 0.4em;
  }

  .add-day {
    display: block;
    margin-top: -0.2em;
    margin-bottom: 1.5em;
  }

  .course-list-month {
    display: block;
    color: #999;
    margin-bottom: 0.4em;
    border-bottom: 1px solid #ccc;
  }

  .no-mobile {
    display: none;
  }

  @include respond-above("medium") {

    .mobile {
      display: none;
    }

    .course-list-heading {
      span.no-mobile {
        display: table-cell;
      }

      span.mobile {
        display: none;
      }
    }

    .course-list-item {
      span.no-mobile {
        display: table-cell;
      }

      span.mobile {
        display: none;
      }
    }
  }

  @include respond-above("large") {

  }

}

.course {
  @extend %course;
}