%index {
  text-align: center;
  padding-top: $logo-container-height - 4em;
  padding-bottom: 1em;

  .index-title {
    font-size: 2em;
    text-shadow: 4px 4px 10px rgba(255, 255, 255, .8);
    margin-bottom: 1em;
  }

  .index-state-selector {
    margin-bottom: 1em;

    a.active {
      color: $c-text;
      cursor: default;
    }
  }

  .index-dropzone {
    width: 100%;

    & .dropzone {
      margin: 3em auto 2em auto;
    }
  }

  @include respond-above("medium") {
    padding-top: $logo-container-height - 1em;

  }
}

.index {
  @extend %index;
}