%newsletter {
  @include clearfix;
  text-align: center;
  padding: 2em 0.3em;
  border-bottom: 3px solid $c-primary;

  background-image: url('../images/newsletter_bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;

  .newsletter-title {
    display: block;
    margin-bottom: 1.5em;
  }

  .newsletter-input {
    width: 100%;
  }

  .newsletter-input-text {
    margin-bottom: 0.3em;
    height: $input-mobile-height;
  }

  .newsletter-input-button {
    width: 100%;
    height: $input-mobile-height;
    margin-bottom: 1em;
  }

  @include respond-above("medium") {
    padding: 3em 1em;

    .newsletter-title {
      margin: 0;
    }

    .newsletter-input {
      width: 50%;
      margin: 3em auto;
    }

    .newsletter-input-text {
      display: inline-block;
      width: 70%;
      height: $input-height;
    }

    .newsletter-input-button {
      display: inline-block;
      width: 25%;
      height: $input-height;
      vertical-align: top;
    }
  }
}

.newsletter {
  @extend %newsletter;
}