
%newsletter {

  .newsletter-container {
    @include span(6);
    position: relative;
    z-index: 5;
    background-size: 80%;
    background: $c-content-bg url("../images/newsletter_world.png") no-repeat 50% 25%;

    padding: 2em 0;
    box-shadow: 0 2px 2px 0 rgba(120, 120, 120, 0.3);
  }

  .newsletter-icon {
    display: block;
    text-align: center;
    font-size: 2.1em;
  }

  .newsletter-slogan {
    display: block;
    text-align: center;
    font-size: 1.2em;
    margin: 0.4em 0 1em 0;
  }

  .newsletter-form {
    display: block;
    width: 95%;
    margin: 0 auto;

    input[type="text"] {
      display: inline-block;
      height: $input-mobile-height;
      width: 70%;
    }

    .button {
      height: $input-mobile-height;
      padding-top: .55em;
      padding-bottom: .55em;
    }
  }

  .newsletter-socials {
    text-align: center;
    margin: 1.5em 0;

    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      padding: 0 0.6em;
      font-size: 1.7em;
    }

    a, a:visited {
      color: $c-grey-dark;
    }
  }

  @include respond-above("medium") {

    .newsletter-container {
      @include span(22 of 24);
      @include push(1 of 24);

      background: url("../images/newsletter_world.png"), linear-gradient(#f5f0dd, #fff) 3% 30%;
      background-repeat: no-repeat;
      background-size: auto;
    }

    .newsletter-icon {
      display: inline-block;
      font-size: 1.2em;
      margin: 0 1em 0 2em;
    }

    .newsletter-slogan {
      display: inline-block;
    }

    .newsletter-form {
      display: inline-block;
      margin-left: 2em;
      width: 60%;

      input[type='text'] {
        height: $input-height;
      }

      input[type='button'] {
        height: $input-height;
        padding: 0.3em 1em;
      }
    }
  }
}

.newsletter {
  @extend %newsletter;
}