
%result-type {
  /*******************************************************/
  /* Search Navigation                                   */
  /*******************************************************/
  $nav-circle-diameter: 5em;
  $nav-container-height: 6.5em;

  /*.view-container {
    padding: 2em 0;
  }*/

  .result-type-selection {
    @include span(22 of 24);
    @include push(1 of 24);

    position: relative;
    height:  $nav-container-height;
    margin-top: 3em;
    background-color: rgba(255,255,255,0.65);

    font-size: $fs-small;
  }

  /*******************************************************/
  /* Back Button                                         */
  /*******************************************************/
  .result-type-back-button {
    display: inline-block;
    width: $nav-circle-diameter/1.9;
    height: $nav-circle-diameter/1.9;
    background-color: $c-dark;
    border-radius: $nav-circle-diameter/3.8;
    cursor: pointer;

    /* positioning the text */
    font-size: $fs-smallest;
    color: #fff;
    text-align: center;
    padding-top: $nav-circle-diameter/3.8 - $fs-smallest;

    /* positioning the back button */
    position: absolute;
    left: -$nav-circle-diameter/3.8;
    top:  $nav-container-height/2;
  }

  .result-type-list {
    list-style: none;
    color: $c-text-dark-bg;
  }

  .result-type-item {
    @include span(8 of 24);

    text-align: center;
    padding-bottom: 2em;
  }

  .result-type-item-circle.budget {
    background-image: url("../images/nav_location.png");

    .result-type-item-active-indicator {
      left: 16%;
      display: none;
    }
  }

  .result-type-item-circle.time {
    background-image: url("../images/nav_briefcase.png");

    .result-type-item-active-indicator {
      left: 49.5%;
      display: none;
    }
  }

  .result-type-item-circle.comfort {
    background-image: url("../images/nav_globe.png");

    .result-type-item-active-indicator {
      right: 16%;
      display: none;
    }
  }

  .result-type-item-circle {
    height: $nav-circle-diameter;
    width: $nav-circle-diameter;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: -$nav-circle-diameter/2;

    background-color: #fff;
    border-radius: $nav-circle-diameter/2;
    border: 1px solid #ddd;
    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
  }

  .result-type-item-active-indicator {
    display: block;
    width: 1em;
    height: 1em;
    background-color: $c-dark;

    transform: rotate(45deg);

    position: absolute;
    bottom: -0.6em;
  }

  .result-type-item.active {
    color: $c-dark;

    .result-type-item-circle {
      background-color: $c-red;
      border: 1px solid $c-red;
      cursor: default;
    }

    .result-type-item-active-indicator {
      display: block
    }
  }

  @include respond-above("medium") {

    .result-type-selection {
      margin-top: 5em;
    }
  }

  @include respond-above("large") {

  }

  /*******************************************************/
  /* Result Type Description                             */
  /*******************************************************/
  .result-description {
    @include span(24 of 24);
    padding: 1em;
    background-color: $c-dark;
    color: #fff;

    h1 {
      margin-bottom: 0.7em;
    }

    p {
      font-size: $fs-small;
    }
  }

  .result-description-favorite {
    display: inline-block;
    float: right;
    font-size: $fs-smallest;

    background-color: darken($c-dark, 7%);
    padding: 0.5em 0.8em;
    border-radius: 3px;
    cursor: pointer;
  }

  .result-description-favorite:before {
    font-family: FontAwesome, sans-serif;
    font-size: $fs-small;
    color: $c-red;
    content: "\f004\00a0\00a0";
  }

  @include respond-above("medium") {

    .result-description {
      @include span(24 of 24);
      padding: 1.4em 1.8em;

    }
  }

  @include respond-above("large") {

  }
}

/*******************************************************/
/* Result View                                         */
/*******************************************************/
%result {

  .result-view {
    padding: 0;
  }

  /*******************************************************/
  /* Result Header                                       */
  /*******************************************************/
  .trip-header {
    padding: 1em;

    .fs-smallest {
      display: block;
      color: $c-text-dark-bg;
    }

    .fa {
      margin-right: 0.3em;
    }

    .trip-header-title {
      margin: 0.2em 1.2em 0.15em 0;
      display: inline-block;
    }

    .change-location-link {
      display: inline;
      color: $c-red;
      cursor: pointer;
    }

    .trip-date {
      color: $c-red;
    }
  }

  /*******************************************************/
  /* Trip Summary                                        */
  /*******************************************************/
  .trip-summary {
    padding: 1em;

    @include clearfix;
  }

  .trip-summary-list {
    list-style: none;
    //margin-top: 1em;
  }

  .trip-summary-item {
    float: left;
    width: 20%;
    margin-bottom: 1em;
  }

  .trip-summary-item-title {
    font-size: $fs-smallest;
  }

  .trip-summary-item-value {
    color: $c-red;
    font-weight: 800;
  }

  .duration-by-days {
    display: block;
    font-size: $fs-smallest;
    font-weight: 400;
  }

  /*******************************************************/
  /* Trip Result Map                                     */
  /*******************************************************/
  #itinerary-map {
    height: 500px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }

  .itinerary-map-container {
    position: relative;

  }

  /*******************************************************/
  /* Trip Segments                                       */
  /*******************************************************/
  .trip-segments-container {
    z-index: 999;
    position: absolute;
    top: 1.5em;
    left: -1.5em;
  }

  .trip-segments {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }
  
  .trip-segments-header {
    padding: 1em 1em 0 1em;
    border-bottom: 1px solid #e8e8e8;
  }

  .trip-segments-body {
    padding:  0 1em;
  }

  .trip-segments-title {
    margin-bottom: 1.5em;
    font-weight: 200;

    .fa {
      margin-right: 0.2em;
    }

    a.trip-segments-print {
      float: right;
      color: $c-text;
    }
  }

  /*******************************************************/
  /* Trip Segments Tab Control                           */
  /*******************************************************/
  .trip-segments-day-tab {
    list-style: none;

    @include clearfix;
  }

  .trip-segments-day-tab-item {
    display: inline-block;
    padding: 0.35em 1.4em;
    border: 1px solid #e8e8e8;
    font-weight: 600;
    background-color: #f7f7f7;
    cursor: pointer;
  }

  .trip-segments-day-tab-item.active {
    border-top: 2px solid $c-red;
    border-bottom: 1px solid white;
    background-color: white;
    color: $c-red;
    cursor: default;
  }

  /*******************************************************/
  /* Trip Segments List                                  */
  /*******************************************************/
  .trip-segments-list {
    display: table;
    list-style: none;

    @include clearfix;
  }

  .trip-segments-day-item {
    display: table-row;
    padding: 1em 0;
  }

  .trip-segments-day-item-col {
    display: table-cell;
    padding-top: 1em;
    padding-bottom: 1em;

    &:not(:last-child) {
      padding-right: 0.6em;
    }

    &:not(:first-child) {
      border-bottom: 1px solid #e8e8e8;
    }
  }

  .trip-segments-day-item-number {

    span {
      display: block;
      color: white;
      background-color: $c-red;
      height: 1.8em;
      width: 1.8em;
      border-radius: 0.9em;

      /* text properties */
      text-align: center;
      vertical-align: middle;
      line-height: 1.8em;
      font-weight: 800;
      font-size: $fs-smallest;
    }
  }

  .trip-segments-day-item-type {

  }

  .trip-segments-day-item-description {
    max-width: 15em;
    font-size: $fs-small;

    a {
      display: block;
      color: $c-red;
      font-size: $fs-smallest;
      cursor: pointer;
    }
  }

  .trip-segments-day-item-timing {
    text-align: right;

    .trip-segments-day-item-timing-time {
      display: block;
      color: $c-red;
      font-size: $fs-small;
    }

    .trip-segments-day-item-timing-distance {
      display: block;
      color: $c-blue;
      font-size: $fs-smallest;
    }
  }

  .trip-segments-day-item-close {

    a {
      color: $c-text-dark-bg;
      cursor: pointer;
    }
  }

  /*******************************************************/
  /* Trip Segments Alternatives                          */
  /*******************************************************/
  .trip-segments-alternatives {
    display: inline-block;
    vertical-align: top;
    margin-top: 3em;
    background-color: $c-dark;
    color: white;
    padding: 0.6em;
    font-size: $fs-small;
  }

  .alternatives-container-title {
    display: inline-block;
    margin-right: 0.6em;
    margin-bottom: 0.6em;
  }

  .alternatives-container-close {
    cursor: pointer;
    float: right;
  }

  .hotels-list {
    list-style: none;
  }

  .hotels-list-item {
    padding: 0.6em 0;

    button {
      margin-top: 0.6em;
    }
  }

  .hotels-list-item-info {
    display: inline-block;
  }

  .hotels-list-item-title {
    font-weight: 600;
    display: block;
  }

  .hotels-list-item-image {
    width: 8em;
    vertical-align: top;
    margin-right: 0.6em;
  }

  .hotels-list-item-rating {
    display: inline-block;
    margin-right: 1em;
    color: yellow;

  }

  .hotels-list-item-distance {
    font-size: $fs-smallest;

    @include clearfix;
  }

  .hotels-list-item-price {
    display: inline-block;
    margin-right: 1em;
    margin-top: 0.6em;
    font-size: $fs-larger;
    font-weight: 600;
  }

  /*******************************************************/
  /* Trip Footer                                         */
  /*******************************************************/
  .trip-footer {

  }

  .trip-footer-summary {
    padding: 1em;
    background-color: white;
    border-bottom: 1px solid #e8e8e8;
  }

  .trip-footer-action {
    padding: 0 1em;
    background-color: $c-background;

    a {
      float: right;
      margin: 1.5em 0;
    }
  }

  @include respond-above("medium") {

    .result-view {

    }
  }

  @include respond-above("large") {

  }
}

/*******************************************************/
/* Element Style Relations                             */
/*******************************************************/
.result-type {
  @extend %result-type;
}

.result {
  @extend %result;
}