%result {
  /*******************************************************/
  /* Trip Segments Structure                             */
  /*******************************************************/
  .trip-segments-title {
    display: none;
  }

  .trip-segments-container {
    top: 1.5em;
    left: -1.5em;
    background-color: $c-white;
  }

  .trip-segments {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }

  .trip-segments-header {
    padding: 1em 1em 0 1em;
    border-bottom: 1px solid $c-border;
  }

  .trip-segments-body {
    padding: 0 0.3em;
  }

  @include respond-above("small") {

    .trip-segments-title {
      display: block;
      margin-bottom: 1em;
      font-size: $fs-normal;
      font-weight: 400;

      .fa {
        margin-right: 0.2em;
      }
    }

    .trip-segments-container {
      top: auto;
      left: auto;
    }

    .trip-segments-header {
      padding: .5em .5em 0 .5em;
    }

    .trip-segments-body {
      padding: 0 1em;
    }
  }

  /*******************************************************/
  /* Trip Segments Tab Control                           */
  /*******************************************************/
  .trip-segments-day-tab {
    list-style: none;

    @include clearfix;
  }

  .trip-segments-day-tab-item {
    display: inline-block;
    padding: 0.35em 1.4em;
    border: 1px solid $c-border;
    font-weight: 600;
    background-color: $c-grey;
    cursor: pointer;
  }

  .trip-segments-day-tab-item.active {
    border-top: 2px solid $c-primary;
    border-bottom: 1px solid white;
    background-color: white;
    color: $c-primary;
    cursor: default;
  }

  @include respond-above("medium") {


    .trip-segments-day-tab-item {
      margin-bottom: -1px;
      background-color: $c-grey;
    }
  }

  /*******************************************************/
  /* Trip Segments List                                  */
  /*******************************************************/
  .trip-segments-list {
    display: table;
    list-style: none;

    @include clearfix;
  }

  .trip-segments-day-item {
    display: table-row;
    padding: 1em 0;
    cursor: pointer;
  }

  .trip-segments-day-item-col {
    display: table-cell;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.2em;

    &:not(:last-child) {
      padding-right: 0.3em;
    }

    &:not(:first-child) {
      border-bottom: 1px solid $c-border;
    }
  }

  .trip-segments-day-item-type {
    color: $c-primary;

    .fa {
      font-size: $fs-large;
      margin: 0;
    }
  }

  .trip-segments-day-item-description {
    width: 60%;
    font-size: $fs-small;

    a {
      display: inline-block;
      padding: 0.5em;
      margin-top: 0.7em;
      color: $c-blue;
      background-color: $c-grey;
      cursor: pointer;
    }

    a, a:visited, a:active {
      text-decoration: none;
    }
  }

  .trip-segments-day-item-description-title {
    display: block;
    margin-bottom: 0.3em;
  }

  .trip-segments-day-item-description-timing {
    display: block;
    color: lighten($c-text, 50%);
    font-size: 0.9em;
  }

  .trip-segments-day-item-timing {
    width: 28%;
    text-align: right;
    font-size: $fs-small;

    .trip-segments-day-item-timing-time {
      display: block;
      color: $c-primary;
    }

    .trip-segments-day-item-timing-distance {
      display: block;
      color: $c-blue;
    }
  }

  .trip-segments-day-item-zoom {
    padding: 0 0.8em;

    &:after {
      font-family: FontAwesome;
      content: "\f105";
    }
  }

  @include respond-above("medium") {

    .trip-segments-day-item-col {
      padding-left: 0;

      &:not(:last-child) {
        padding-right: 0.6em;
      }

      &:not(:first-child) {
        border-bottom: 1px solid $c-border;
      }
    }

    .trip-segments-day-item-description {
      max-width: 15em;

      a {
        display: block;
        color: $c-blue;
        font-size: $fs-smaller;
        padding: 0;
        //margin-top: 0.5em;
        background-color: transparent;
      }
    }

    .trip-segments-day-item-timing {
      width: 30%;
    }

    .trip-segments-day-item-timing-distance {
      font-size: $fs-smaller;
    }

    .trip-segments-day-item-zoom {
      display: none;
    }
  }

  /*******************************************************/
  /* Trip Segments Alternatives                          */
  /*******************************************************/
  .trip-segments-alternatives {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background-color: $c-grey-dark;
    color: $c-white;
    padding: 0.6em;
    font-size: $fs-small;
    z-index: 10;
  }

  .alternatives-container-title {
    display: inline-block;
    margin-right: 0.6em;
    margin-bottom: 0.6em;
    font-weight: 600;
  }

  .alternatives-container-close {
    cursor: pointer;
    float: right;
    color: $c-primary;
  }

  .alternatives-container-spinner {
    text-align: center;
    padding: 1em 0;
  }

  .alternatives-row {
    @include clearfix;
  }

  .alternatives-row-price {
    float: right;
  }

  .alternatives-row-button {
    float: right;
  }

  .hotels-list {
    list-style: none;
  }

  .hotels-list-item {
    padding: 0.6em 0;

    button {
      margin-top: 0.6em;
    }
  }

  .hotels-list-item.selected {
    background-color: gray;
  }

  .hotels-list-item-info {
    display: inline-block;
    width: 50%;
  }

  .hotels-list-item-title {
    font-weight: 600;
    display: block;
  }

  .hotels-list-item-image {
    width: 50%;
    max-width: 8em;
    vertical-align: top;
    margin-right: 0.6em;
  }

  .hotels-list-item-rating {
    display: inline-block;
    margin-right: 1em;
    color: yellow;

  }

  .hotels-list-item-distance {
    display: block;
    font-size: $fs-smallest;

    @include clearfix;
  }

  .hotels-list-item-price {
    display: inline-block;
    margin-top: 0.6em;
    font-size: $fs-larger;
    font-weight: 600;
  }

  .hotels-list-item-select {
    float: right;
    margin-right: 0.5em;
  }

  @include respond-above("medium") {

    .trip-segments-alternatives {
      width: auto;
      min-width: 20em;
    }

    .hotels-list-item-image {
      width: 8em;
    }

    .hotels-list-item-distance {
      display: inline;
    }

    .hotels-list-item-price {
      display: block;
      float: none;
    }

    .hotels-list-item-select {
      float: none;
    }
  }
}

.result {
  @extend %result;
}


