%result {
  $result-list-item-height: 5rem;

  @include container;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1em 0.8em;
  margin-top: $logo-container-height / 2 + 1em;
  margin-bottom: 4em;
  border-radius: 6px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);

  .result-title {
    display: block;
    margin-bottom: 0.7em;
  }

  .result-search-details {
    margin-bottom: 1em;

    & .result-search-details-title {
      display: inline-block;
      margin-bottom: 0.3em;
      margin-right: 0.3em;

      & + a {
        display: inline;
        line-height: 0.9em;
      }
    }

    & .cell:first-of-type {
      padding-right: 1em;
      color: $c-text-light;
    }
  }

  .result-trip-details {
    margin-bottom: 1em;

    & .result-trip-details-title {
      display: inline-block;
      margin-bottom: 0.3em;
      margin-right: 0.3em;

      & + a {
        display: inline;
        line-height: 0.9em;
      }
    }

    .cell:first-of-type {
      padding-right: 1em;
      color: $c-text-light;
    }

    .cell:last-of-type {
      font-weight: 400;
    }
  }

  .result-instructions {
    margin-bottom: 1em;
    font-weight: bold;
  }

  .result-list {
    padding: 0;
    list-style: none;
    background-color: #fff;
    width: 100%;
  }

  .result-list-item-container {
    border-bottom: 2px dotted $c-border;
    padding-top: 0.8em;
    padding-bottom: 1.5em;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .result-list-item {
    display: block;
    width: 98%;
    position: relative;
    height: $result-list-item-height;
    overflow-x: hidden;
    margin: 1.2em auto 0 auto;

  }

  .result-list-item-line {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: $result-list-item-height / 2;
    border: 1px dashed $c-border;
  }

  .result-list-item-price {
    position: relative;
    display: block;
    vertical-align: top;
    padding: 0 0.8em;

    & > span {
      position: relative;
      font-size: $fs-larger;
      font-weight: bold;
      margin-top: 0.5em;
    }

    & > .fa {
      font-size: $fs-larger;
      color: $c-text-light;
      margin-top: 0.5em;
    }

    & > .button {
      margin-top: 0;
      float: right;
    }

    @include clearfix();
  }

  .result-list-item-start {
    display: inline-block;
    position: absolute;
    z-index: 5;
    height: $result-list-item-height;
    border-left: 3px solid $c-border;

    &.focus {
      border-color: $c-green;
    }
  }

  .result-list-item-end {
    display: block;
    position: absolute;
    z-index: 5;
    right: 0;
    height: $result-list-item-height;
    border-left: 3px solid $c-border;

    &.focus {
      border-color: $c-green;
    }
  }

  .result-segment {
    display: block;
    cursor: pointer;
  }

  .result-segment-block {
    display: block;
    position: absolute;
    height: 2em;
    top: 2em;
    background: repeating-linear-gradient(
        45deg,
        rgb(255, 229, 167),
        rgb(255, 229, 167) 10px,
        rgb(255, 209, 108) 10px,
        rgb(255, 209, 108) 20px
    );
    color: $c-text;
    text-align: center;
    padding: 0.3em;
  }

  .result-segment-timing {
    display: block;
    position: absolute;
    top: 0.85rem;
    font-size: $fs-small;
  }

  .result-segment-location {
    display: block;
    position: absolute;
    top: -0.15rem;
    font-size: $fs-small;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .result-segment-duration {
    display: inline-block;
    margin-left: 1em;
  }

  .result-segment-alternatives {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    height: 2em;
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
  }

  .result-segment-details {
    display: block;
    position: absolute;
    top: 4.7em;
    left: 0;
    font-size: $fs-small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .result-hotels-list {
    list-style: none;
  }
  
  .result-hotels-list-item {
    margin-bottom: 1em;
  }

  .button, .button--light {
    margin-top: 1.5em;
  }

  .result-details-error {
    display: block;
    margin-top: 0.5em;
    color: $c-status-error;

    &:before {
      @include fa-icon();
      content: $fa-var-exclamation;
      color: $c-status-error;
      display: inline-block;
      margin-right: 0.5em;
    }
  }

  @include respond-above("medium") {

    .result-list {
      padding: 1em 0;
    }

    .result-list-item {
      display: inline-block;
      width: 86%;
      margin: 0 auto;

      &.full-width {
        width: 98%;
        margin-left: 1%;
      }
    }

    .result-list-item-price {
      position: relative;
      display: inline-block;
      width: 8%;
      margin: 0;
      min-width: 6em;
      padding: 0.2em 0.5em;
      vertical-align: top;

      & > span {
        position: relative;
        z-index: 5;
        font-size: $fs-larger;
        font-weight: bold;
        margin-top: 0;
      }

      & > .fa {
        position: absolute;
        z-index: 0;
        top: 0.2em;
        right: 0.15em;
        font-size: 2em;
        color: lighten($c-text-light, 40%);
        margin-top: 0;
      }

      & > .button {
        margin-top: 0.3em;
        float: none;
      }
    }

    .result-segment {

      &:hover {

        .result-segment-timing {
          display: block;
        }

        .result-segment-location {
          display: block;
        }

        .result-segment-duration {
          display: inline-block;
        }

        .result-segment-alternatives {
          display: block;
        }

        .result-segment-details {
          display: block;
        }
      }
    }

    .result-segment-timing {
      display: none;
    }

    .result-segment-location {
      display: none;
    }

    .result-segment-duration {
      display: none;
    }

    .result-segment-alternatives {
      display: none;
    }

    .result-segment-details {
      display: none;
    }
  }

  @include respond-above("large") {

    .result-list-item {
      width: 90%;
    }
  }
}

.result {
  @extend %result;
}

.ngdialog-content {
  @extend %result;
}