.result-loaded.ng-enter {
  @include animation(fadeInUp 5s);
}
.result-loaded.ng-leave {
  
}

%result {

  .result-view {
    padding: 0;
  }

  /*******************************************************/
  /* Result Search Progress                              */
  /*******************************************************/
  .result-view-search-container {
    margin: 3em auto;
    text-align: center;
  }

  .result-view-search-progress {
    display: block;
    font-style: italic;
  }

  .result-view-search-animation {
    display: block;
    margin: 4em auto;
  }

  /*******************************************************/
  /* Result Notification                                 */
  /*******************************************************/
  .result-notification {
    width: 97%;
    margin: 1em auto 0;
    padding: .5em 1em;
    background-color: $c-yellow;
    border-radius: 3px;
    border: 1px solid darken($c-grey, 5%);

    .fa {
      opacity: 0.4;
    }
  }

  .result-notification-message {
    margin: 0 1em;
    opacity: 0.5;
    font-size: $fs-small;
  }

  .result-notification-action {
    float: right;

    .fa {
      cursor: pointer;
    }
  }

  /*******************************************************/
  /* Result Header                                       */
  /*******************************************************/
  .result-header {
    display: table;
    padding: 0.8em;
  }

  .result-header-col {
    display: table-cell;
  }

  .result-header-col:first-child {
    vertical-align: middle;
  }

  .result-header-destination {
    display: block;
    float: left;
    font-size: $fs-smallest;
    color: $c-text-dark-bg;
  }

  .result-header-destination.no-float {
    float:none;
  }

  .result-header-timing {
    display: block;
    float: right;
    font-size: $fs-smallest;
    color: $c-text-dark-bg;
    margin-bottom: 0.6em;
  }

  .fa {
    margin-right: 0.3em;
  }

  .change-location-link {
    display: inline;
    font-size: $fs-smallest;
    color: $c-red;
    cursor: pointer;
  }

  .trip-date {
    color: $c-red;
  }

  .result-header-title {
    display: inline-block;
    margin: 0.3em 0 0 0;
  }

  .result-header-back-link {
    $button-size: 3.4em;

    display: block;
    float: left;
    width: $button-size;
    height: $button-size;
    background-color: $c-red;
    color: #fff;
    text-align: center;
    padding-top: $button-size/2;
    cursor: pointer;
    margin-right: 0.5em;
    margin-left: -0.8em;

    .fa {
      margin-top: -1.5em;
      margin-right: 0.1em;
      font-size: 2.6em;
    }
  }

  @include respond-above("medium") {

    .result-header {
      padding: 1em;
    }

    .result-header-destination {
      float: none;
    }

    .result-header-title {
      margin: 0.2em 1em 0.2em 0;
      float: none;
    }

    .result-header-timing {
      float: none;
    }
  }

  /*******************************************************/
  /* Result Summary                                      */
  /*******************************************************/
  $trip-summary-height: 4em;

  .result-overview {
    position: relative;
  }

  .result-summary-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: $trip-summary-height;
    background-color: $c-dark;
    color: #fff;
    margin: 0.4em;
  }

  .result-summary-button-details {
    display: inline-block;
    width: 80%;

    div {
      display: inline-block;
      float: left;
      padding: 0.6em 0.5em;
    }
  }

  .result-summary-button-details-time,
  .result-summary-button-details-cost {

    span {
      display: block;
    }

    span:first-child {
      font-size: $fs-smallest;
    }

    span:last-child {
      font-size: $fs-larger;
      font-weight: 600;
    }
  }

  .result-summary-button-details-time {
    width: 65%;
  }

  .result-summary-button-details-cost {
    width: 35%;
  }

  .result-summary-button-list-link {
    display: block;
    float: right;
    width: 20%;
    height: 100%;
    background-color: $c-red;
    color: #fff;
    text-align: center;
    padding-top: $trip-summary-height/2;
    cursor: pointer;

    .fa {
      margin-top: -1.3em;
      font-size: 2.6em;
    }
  }

  @include respond-above("medium") {

    .result-summary-button {
      display: none;
    }
  }

  /*******************************************************/
  /* Result Summary (Details)                            */
  /*******************************************************/
  .result-summary {
    padding: 0.5em 0.8em;
    background-color: $c-grey;

    @include clearfix;
  }

  // trip summary directive
  .trip-summary-list {
    list-style: none;
  }

  .trip-summary-item {
    float: left;
    width: 50%;
    margin-bottom: 0.5em;
  }

  .trip-summary-item-title {
    font-size: $fs-smallest;
  }

  .trip-summary-item-value {
    color: $c-red;
    font-weight: 800;
  }

  .duration-by-days {
    display: none;
  }

  .trip-summary-item.cost {
    display: none;
  }

  @include respond-above("medium") {
    .result-summary {
      padding: 0 1em;
      background-color: $c-content-bg;
    }

    .trip-summary-item {
      width: 20%;
      margin-bottom: 1em;
    }

    .duration-by-days {
      display: block;
      font-size: $fs-smallest;
      font-weight: 400;
    }

    .trip-summary-item.cost {
      display: block;
    }
  }

  /*******************************************************/
  /* Trip Result Map                                     */
  /*******************************************************/
  #itinerary-map {
    height: 20em;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }

  .itinerary-map-container {
    position: relative;
    z-index: 0;
  }

  @include respond-above("medium") {

    #itinerary-map {
      height: 35em;
    }
  }

  /*******************************************************/
  /* Trip Segments                                       */
  /*******************************************************/
  .trip-segments-container {

  }

  .trip-segments-title {
    padding: 0.5em;
    font-size: $fs-normal;
  }

  .trip-segments-print {
    display: none;
  }

  @include respond-above("medium") {

    .trip-segments-container {
      z-index: 999;
      position: absolute;
      top: 1.5em;
      left: -1.5em;
    }

    .trip-segments {
      display: inline-block;
      vertical-align: top;
      background-color: white;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    }

    .trip-segments-header {
      padding: 1em 1em 0 1em;
      border-bottom: 1px solid #e8e8e8;
    }

    .trip-segments-body {
      padding:  0 1em;
    }

    .trip-segments-title {
      margin-bottom: 1.5em;
      font-weight: 200;

      .fa {
        margin-right: 0.2em;
      }

      .trip-segments-print {
        display: inline;
        float: right;
        color: $c-text;
      }
    }
  }

  // Trip Segments Tab Control
  .trip-segments-day-tab {
    margin-left: 1em;
    list-style: none;

    @include clearfix;
  }

  .trip-segments-day-tab-item {
    display: inline-block;
    padding: 0.35em 1.4em;
    border: 1px solid #e8e8e8;
    font-weight: 600;
    background-color: #fff; // mobile // normal: #f7f7f7;
    cursor: pointer;
  }

  .trip-segments-day-tab-item.active {
    border-top: 2px solid $c-red;
    border-bottom: 1px solid white;
    background-color: white;
    color: $c-red;
    cursor: default;
  }

  // Trip Segments List
  .trip-segments-list {
    display: table;
    list-style: none;

    @include clearfix;
  }

  .trip-segments-day-item {
    display: table-row;
    padding: 1em 0;
  }

  .trip-segments-day-item-col {
    display: table-cell;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.2em;

    &:not(:last-child) {
      padding-right: 0.3em;
    }

    &:not(:first-child) {
      border-bottom: 1px solid #e8e8e8;
    }
  }

  .trip-segments-day-item-number {

    span {
      display: block;
      color: white;
      background-color: $c-red;
      height: 1.8em;
      width: 1.8em;
      border-radius: 0.9em;

      /* text properties */
      text-align: center;
      vertical-align: middle;
      line-height: 1.8em;
      font-weight: 800;
      font-size: $fs-small;
    }
  }

  .trip-segments-day-item-type {
    color: $c-red;

    .fa {
      font-size: $fs-large;
      margin: 0;
    }
  }

  .trip-segments-day-item-description {
    max-width: 11em;
    font-size: $fs-small;

    a {
      display: inline-block;
      padding: 0.5em;
      margin-top: 0.7em;
      color: $c-blue;
      background-color: $c-grey;
      cursor: pointer;
    }

    a, a:visited, a:active {
      text-decoration: none;
    }
  }

  .trip-segments-day-item-timing {
    text-align: right;
    font-size: $fs-small;

    .trip-segments-day-item-timing-time {
      display: block;
      color: $c-red;
    }

    .trip-segments-day-item-timing-distance {
      display: block;
      color: $c-blue;
    }
  }

  .trip-segments-day-item-close {
    display: none;
  }

  @include respond-above("medium") {

    .trip-segments-header {
      padding: .5em .5em 0 .5em;
    }

    .trip-segments-title {
      margin-bottom: 0.5em;
    }

    .trip-segments-day-tab {
      margin-left: 0;
    }

    .trip-segments-day-tab-item {
      margin-bottom: -1px;
    }

    .trip-segments-day-tab-item {
      background-color:#f7f7f7;
    }

    .trip-segments-day-item-col {
      padding-left: 0;

      &:not(:last-child) {
        padding-right: 0.6em;
      }

      &:not(:first-child) {
        border-bottom: 1px solid #e8e8e8;
      }
    }

    .trip-segments-day-item-number {
      span {
        font-size: $fs-smallest;
      }
    }

    .trip-segments-day-item-description {
      max-width: 15em;

      a {
        display: block;
        color: $c-blue;
        font-size: $fs-smaller;
        padding: 0;
        margin-top: 0;
        background-color: transparent;
      }
    }

    .trip-segments-day-item-timing-distance {
      font-size: $fs-smaller;
    }

    .trip-segments-day-item-close {
      display: table-cell;

      a {
        color: $c-text-dark-bg;
        cursor: pointer;
      }
    }
  }

  /*******************************************************/
  /* Trip Segments Alternatives                          */
  /*******************************************************/
  .trip-segments-alternatives {
    display: inline-block;
    vertical-align: top;
    background-color: $c-dark;
    color: white;
    padding: 0.6em;
    font-size: $fs-small;
  }

  .alternatives-container-title {
    display: inline-block;
    margin-right: 0.6em;
    margin-bottom: 0.6em;
  }

  .alternatives-container-close {
    cursor: pointer;
    float: right;
    color: #fff;
  }

  .hotels-list {
    list-style: none;
  }

  .hotels-list-item {
    padding: 0.6em 0;

    button {
      margin-top: 0.6em;
    }
  }

  .hotels-list-item-info {
    display: inline-block;
    width: 50%;
  }

  .hotels-list-item-title {
    font-weight: 600;
    display: block;
  }

  .hotels-list-item-image {
    width: 50%;
    max-width: 8em;
    vertical-align: top;
    margin-right: 0.6em;
  }

  .hotels-list-item-rating {
    display: inline-block;
    margin-right: 1em;
    color: yellow;

  }

  .hotels-list-item-distance {
    display: block;
    font-size: $fs-smallest;

    @include clearfix;
  }

  .hotels-list-item-price {
    display: inline-block;
    margin-top: 0.6em;
    font-size: $fs-larger;
    font-weight: 600;
  }

  .hotels-list-item-select {
    float: right;
    margin-right: 0.5em;
  }

  @include respond-above("medium") {

    .trip-segments-alternatives {
      margin-top: 3em;
    }

    .hotels-list-item-image {
      width: 8em;
    }

    .hotels-list-item-distance {
      display: inline;
    }

    .hotels-list-item-price {
      display: block;
      float: none;
    }

    .hotels-list-item-select {
      float: none;
    }
  }

  /*******************************************************/
  /* Result Footer                                       */
  /*******************************************************/
  .result-footer {
    background-color: #fff;
  }

  .result-footer-price {
    float: left;
    margin: 1em 1.2em;

    span:first-child {
      display: block;
      font-size: $fs-smallest;
    }

    span:last-child {
      display: block;
      font-size: $fs-largest;
      font-weight: 600;
      color: $c-red;
    }
  }

  .result-footer-action {
    background-color: #fff;

    a {
      float: right;
      height: $input-mobile-height;
      padding: 0.6em 1em;
      margin: 1.2em 0.8em;
    }

    a, a:visited, a:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  @include respond-above("medium") {

    .result-footer-action {

      a {
        margin: 1.5em;
      }
    }
  }
}

.result {
  @extend %result;
}