%details {
  @include container;

  width: 95%;
  padding: 1em 0.8em;
  margin-bottom: 2em;
  background-color: $c-white;
  border-radius: 3px;
  border-top: 3px solid $c-primary;

  -webkit-box-shadow: 1px 0 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 0 10px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 0 10px 2px rgba(0,0,0,0.3);

  .result-details-column {
    display: inline-block;

    @include respond-above("medium") {

      &:last-of-type {
        float:right;
        margin-right: 0.5em;
      }
    }
  }

  .result-details-title {
    margin-bottom: 1em;
    display: inline-block;
  }

  .result-map {
    width: 100%;
    height: 16em;
    margin-top: 1.5em;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.2);

    @include respond-above("medium") {
      width: 40%;
      margin-top: 0;
    }
  }

  #itinerary-map {
    width: 100%;
    height: 100%;
  }

  .result-details-location {
    margin-bottom: 1.5em;

    .fa {
      font-size: $fs-larger;
      color: $c-primary;
      margin-left: 1em;
      margin-right: 0.5em;
    }
  }

  .result-details-location-start {
    display: block;
    margin-bottom: 0.1em;
  }

  .result-details-appointment {

    .fa {
      color: $c-primary;
      margin-right: 0.5em;
    }
  }

  .result-details-appointment-title {
    font-weight: bold;
  }

  .result-details-appointment-time {
    display: block;
    margin-top: 0.2em;
  }

  /*
   * Itinerary details
   */

  .result-details-info {
    @include clearfix;

    float: right;
    text-align: right;
    margin-bottom: 1em;
  }

  .result-details-price {
    display: block;
    font-size: $fs-larger;
    font-weight: 800;
  }

  .result-details-duration {

  }

  .result-details-timing {
    display: table;
    margin-top: -0.5em;

    &>span {
      display: table-row;

      &>span {
        display: table-cell;
        padding-bottom: 0.2em;
      }

      &>.fa {
        padding-right: 1em;
        color: $c-primary;
      }
    }
  }

  .result-details-timeline {
    margin: 2em 0 3em 0;
  }

  .result-details-action {
    .button {
      float: right;
    }
  }
}

.result-details {
  @extend %details;
}