%search {
  /*******************************************************/
  /* Search Navigation                                   */
  /*******************************************************/
  $nav-circle-diameter: 5em;
  $nav-container-height: 6.5em;

  .search-steps {
    @include span(22 of 24);
    @include push(1 of 24);

    position: relative;
    height:  $nav-container-height;
    margin-top: 3em;
    background-color: rgba(255,255,255,0.65);

    font-size: $fs-small;
  }

  .search-step-list {
    list-style: none;
    color: $c-text-dark-bg;
  }

  .search-step {
    @include span(8 of 24);

    text-align: center;
    padding-bottom: 2em;
  }

  .search-step-circle.location {
    background-image: url("../images/nav_location.png");

    .search-step-active-indicator {
      left: 16%;
      display: none;
    }
  }

  .search-step-circle.timing {
    background-image: url("../images/nav_briefcase.png");

    .search-step-active-indicator {
      left: 49%;
      display: none;
    }
  }

  .search-step-circle.origin {
    background-image: url("../images/nav_globe.png");

    .search-step-active-indicator {
      right: 16%;
      display: none;
    }
  }

  .search-step-circle {
    height: $nav-circle-diameter;
    width: $nav-circle-diameter;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: -$nav-circle-diameter/2;

    background-color: #fff;
    border-radius: $nav-circle-diameter/2;
    border: 1px solid #ddd;
    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
  }

  .search-step-active-indicator {
    display: block;
    width: 1em;
    height: 1em;
    background-color: $c-red;
    background-image: url("../images/bg_pattern.jpg");
    background-repeat: repeat;

    transform: rotate(45deg);

    position: absolute;
    bottom: -0.6em;
  }

  .search-step.active {
    color: $c-dark;

    .search-step-circle {
      background-color: $c-dark;
      border: 1px solid $c-dark;
      cursor: default;
    }

    .search-step-active-indicator {
      display: block
    }
  }

  .search-step.done {
    background-image: url("../images/tick.png");
    background-repeat: no-repeat;
    background-position: 80% 50%;
  }

  @include respond-above("medium") {

    .search-steps {
      margin-top: 5em;
    }
  }

  @include respond-above("large") {

  }

  /*******************************************************/
  /* Search Form                                         */
  /*******************************************************/
  .search-form-container {
    @include span(24 of 24);
    padding: 1em 0;
    background-color: darken($c-red, 3%);
    background-image: url("../images/bg_pattern.jpg");
    background-repeat: repeat;
    color: #fff;
  }

  .search-form-container input{
    color: #000;
  }

  .search-form {

    h1 {
      margin-bottom: 0.5em;
    }
  }

  #search-destination-map {
    width: 500px;
    height:500px
  }

  @include respond-above("medium") {

    .search-form-container {
      @include span(24 of 24);
      padding: 2em 0;

    }

    .search-form {
      @include span(20 of 24);
      @include push(2 of 24);

      a.button--dark {
        float: right;
        margin: 0.5em 0;
      }

      h1 {
        margin-bottom: 0.5em;
      }
    }
  }

  @include respond-above("large") {

  }
}

.search {
  @extend %search;
}