%search {
  @include clearfix;

  .search-form {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .search-form-title {
    margin-bottom: 2em;
  }

  .search-form-item {
    margin-bottom: 1em;
  }

  .search-form-item-label {
    display: inline-block;
    margin-bottom: 0.2em;
  }

  .search-form-item-icon {
    display: inline-block;
    margin-left: 25%;
    margin-right: 0.3em;
  }

  .search-form-item-container {
    position: relative;
    text-align: left;
  }

  .search-form-item-input {
    width: 50%;
    margin-left: 25%;
  }

  @include respond-above("medium") {

  }
}

.search {
  @extend %search;
}