%settings {

  .settings-navigation {
    @include span(6 of 24);

    ul {
      list-style: none;
    }

    li.active {
      color: $c-text-dark-bg-highlight;
    }
  }

  .settings-content {
    @include span(18 of 24);

  }

  @include respond-above("medium") {

  }

  @include respond-above("large") {

  }
}


.settings {
  @extend %settings;
}

/*

EXAMPLE:

[js-collapsible-trigger]::after {
    @include fa-icon();
    content: $fa-var-chevron-down;
  }
  &.is-collapsed [js-collapsible-trigger]::after {
    content: $fa-var-chevron-up;
  }

*/