<section id="trip" class="trip">
  <div class="trip-tabs container">
    <ol class="tabs-horizontal">
      <li class="is-active"><i class="fa fa-usd"></i> Budget</li>
      <li><i class="fa fa-clock-o"></i> Time</li>
      <li><i class="fa fa-cog"></i> Comfort</li>
    </ol>
  </div>
  <header class="trip-header">
    <div class="trip-navigation">
      <a href="#" class="trip-prev"><i class="fa fa-chevron-left"></i></a>
      <a href="#" class="trip-next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <div class="container">
    <div class="trip-overview">
      <dl>
        <dt>Cost</dt>
        <dd>1189.42 USD</dd>
      </dl>
      <dl>
        <dt>Time</dt>
        <dd>11h + night stop</dd>
      </dl>
    </div>

    <!--<div class="trip-type">

    </div>-->
    </div>
  </header>

<div class="map-container">
  <iframe class="map-map" width='100%' height='1000px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/tvooo.k42m9d3c/attribution.html?access_token=pk.eyJ1IjoidHZvb28iLCJhIjoiWXVEU3RDMCJ9.npRu8Dcl_4ibZ91X6xrNIg'></iframe>
  <div class="map-overlayer">
  <div class="container">
    <div class="trip-journeybox">
    <ol class="journey">
      <li class="journey-step train">
        <h4 class="journey-step-title">Train to <span class="place">Copenhagen Airport (CPH)</span></h4>
        <div class="journey-step-info">
          12:15 - 12:35
        </div>
      </li>
      <li class="journey-step flight">
        <h4 class="journey-step-title">Flight to <span class="place">Frankfurt Airport (FRA)</span></h4>
        <div class="journey-step-info">
          12:15 - 12:35
        </div>
      </li>
      <li class="journey-step train">
        <h4 class="journey-step-title">Train to <span class="place">Stuttgart</span></h4>
        <div class="journey-step-info">
          12:15 - 12:35
        </div>
      </li>
      <li class="journey-step hotel">
        <h4 class="journey-step-title">Night stop at <span class="place">Motel One</span></h4>
      </li>
      <li class="journey-step appointment">
        <h4 class="journey-step-title">Appointment with Mr. Gros</h4>
        <div class="journey-step-info">
          09:00 - 14:00
        </div>
      </li>
      <li class="journey-step train">
        <h4 class="journey-step-title">Train to <span class="place">Frankfurt Airport (FRA)</span></h4>
        <div class="journey-step-info">
          12:15 - 12:35
        </div>
      </li>
      <li class="journey-step flight">
        <h4 class="journey-step-title">Flight to <span class="place">Copenhagen Airport (CPH)</span></h4>
        <div class="journey-step-info">
          12:15 - 12:35
        </div>
      </li>
      <li class="journey-step train">
        <h4 class="journey-step-title">Train back home</h4>
        <div class="journey-step-info">
          12:15 - 12:35
        </div>
      </li>
    </ol>
    </div>
    </div>
  </div>
</div>
  <section class="container">
    <footer>
      bla blubb
    </footer>
  </section>
</section>
