<section class="dashboard wrapper">
  <div class="view-container">
    <h1>Why 1ClickTrips?</h1>

    <div class="dashboard-info-box">
      <div class="dashboard-info-icon trip"></div>

      <h3>End-To-End trip management</h3>
      <div class="dashboard-info-text">
        <span>
          You know where. You know when.
        </span>
        <span>
          We know everything else. Have your next trip at your
          fingertips within less than 2 minutes.
        </span>
      </div>
    </div>

    <div class="dashboard-info-box">
      <div class="dashboard-info-icon plane"></div>

      <h3>Create a personal travel profile</h3>
      <div class="dashboard-info-text">
        You hate taking the bus? Air Cheaponia is not your favorite airline?
        No worries, 1ClickTrips will take your individual preferences
        into account, when creating the perfect trip.
      </div>
    </div>

    <div class="dashboard-info-box">
      <div class="dashboard-info-icon calendar"></div>

      <h3>A trip matching your target date</h3>
      <div class="dashboard-info-text">
        Planning a trip to meet a particular schedule can become
        quite complicated, when comparing the different possibilities.
        1ClickTrips will handle that complexity for you.
      </div>
    </div>

    <div class="dashboard-info-box">
      <div class="dashboard-info-icon suitcase"></div>

      <h3>Schedule your meetings with ease</h3>
      <div class="dashboard-info-text">
        Let 1ClickTrips do the planning and choose from an optimized
        selection of trips. Soon also available for iPhone, iPad and
        your Apple iWatch.
      </div>
    </div>
  </div>
</section>
