<section class="newsletter container">

  <div class="newsletter-container">
    <div class="newsletter-slogan">
      <img src="../images/newsletter_icon.png" alt="envelop">
      Join our newsletter
    </div>
    <form class="newsletter-form">
      <input type="text" placeholder="Your email address">
      <input type="button" class="button" value="Join">
    </form>
    <div class="newsletter-socials">
      <ul>
        <li><a href="http://clowdfish.homeunix.com/no-facebook.png" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/clowdfish" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/company/efexcon-ag" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
    </div>
  </div>

</section>
