<section class="dashboard wrapper">

  <div class="view-container">
    <h1>{{ T.dashboard.title }}</h1>

    <div class="dashboard-info-box">
      <div class="dashboard-info-icon trip"></div>

      <h3>{{ T.dashboard.info.endtoend.title }}</h3>
      <div class="dashboard-info-text">
        <span>
          {{ T.dashboard.info.endtoend.text1 }}
        </span>
        <span>
          {{ T.dashboard.info.endtoend.text2 }}
        </span>
      </div>
    </div>

    <div class="dashboard-info-box">
      <div class="dashboard-info-icon plane"></div>

      <h3>{{ T.dashboard.info.profile.title }}</h3>
      <div class="dashboard-info-text">
        {{ T.dashboard.info.profile.text }}
      </div>
    </div>

    <div class="dashboard-info-box">
      <div class="dashboard-info-icon calendar"></div>

      <h3>{{ T.dashboard.info.date.title }}</h3>
      <div class="dashboard-info-text">
        {{ T.dashboard.info.date.text }}
      </div>
    </div>

    <div class="dashboard-info-box">
      <div class="dashboard-info-icon suitcase"></div>

      <h3>{{ T.dashboard.info.meetings.title }}</h3>
      <div class="dashboard-info-text">
        {{ T.dashboard.info.meetings.text }}
      </div>
    </div>
  </div>

</section>