<header class="header">
    <div class="container">
        <div class="header-logo">
          <img src="../images/logo.png" alt="1ClickTrips logo">
          <span class="bold">1Click</span>Trips
        </div>
        <nav class="header-navigation">
            <a href="#">Login</a>
            <a href="#" class="button">JOIN</a>
            <div class="header-settings">
                <ul>
                  <li>USD</li>
                  <li>Eng</li>
                  </ul>
            </div>
        </nav>
    </div>
</header>
