<section class="search container">

  <div class="search-steps">
    <ul class="search-step-list">
      <li class="search-step active">
        <div class="search-step-circle location">
          <span class="search-step-active-indicator"></span>
        </div>
        {{ T.search.navigation.destination }}
      </li>
      <li class="search-step done">
        <div class="search-step-circle timing">
          <span class="search-step-active-indicator"></span>
        </div>
        {{ T.search.navigation.timing }}
      </li>
      <li class="search-step">
        <div class="search-step-circle origin">
          <span class="search-step-active-indicator"></span>
        </div>
        {{ T.search.navigation.origin }}
      </li>
    </ul>
  </div>
  <div class="search-form-container">
    <form class="search-form">
      <h1>{{ T.search.form.destination.label }}</h1>

      <input type="text" placeholder="{{ T.search.form.destination.placeholder }}">
      <span class="search-form-process-control">
        <ul>
          <li class="active"></li>
          <li></li>
          <li></li>
        </ul>
      </span>
      <a href="result.html" class="button--dark search-form-button">{{ T.search.form.control.next }}</a>
    </form>
  </div>

</section>