<section class="newsletter wrapper">
  <div class="newsletter-container">
    <i class="fa fa-envelope-o newsletter-icon"></i>
    <span class="newsletter-slogan">{{ T.newsletter.title }}</span>
    <form class="newsletter-form">
      <input type="text" placeholder="{{ T.newsletter.placeholder }}">
      <input type="button" class="button" value="{{ T.newsletter.submit }}">
    </form>
  </div>
  <div class="clearfix"></div>

  <div class="newsletter-socials">
    <ul>
      <li><a href="http://clowdfish.homeunix.com/no-facebook.png" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/1clicktrips" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/company/efexcon-ag" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>
</section>