<header class="header">
    <div class="wrapper">
        <div class="header-logo">
          <a ui-sref="index">
            <img src="../images/logo.png" alt="1ClickTrips logo">
            <span class="bold">1Click</span><span class="light">Trips</span>
          </a>
        </div>
        <nav class="header-navigation">
            <div ng-hide="userProfile" class="userProfile">
              <a href="#" ng-click='createLoginModal()'>Login</a>
              <a href="#" class="button" ng-click='createSignupModal()'>JOIN</a>
            </div>
            <div ng-show="userProfile" class="userProfile">
              Hi {[userProfile['first-name']]} {[userProfile['last-name']]} <a ng-click="logout()">(Logout)</a>
            </div>
            <div class="header-settings">
                <ul>
                  <li class='currency-switch-wrapper'>{[ activeCurrency.toUpperCase() ]}
                    <ul class='currency-switch'>
                      <li ng-repeat='(key, currency) in currencies' ng-click='changeCurrency(key)'>
                        {[ currency.code ]}
                      </li>
                    </ul>
                  </li>
                  <li class='language-switch-wrapper'>{[ languages[activeLanguageKey].name ]}
                    <ul class='language-switch'>
                      <li ng-repeat='(key, language) in languages' ng-click='changeLanguage(key)'>
                        {[ language.name ]}
                      </li>
                    </ul>
                  </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
