<header class="header">
    <div class="wrapper">
        <div class="header-logo">
          <a ui-sref="index">
            <img src="../images/logo.png" alt="1ClickTrips logo">
            <span class="bold">1Click</span><span class="light">Trips</span>
          </a>
        </div>
        <nav class="header-navigation">
            <a href="#">Login</a>
            <a href="#" class="button">JOIN</a>
            <div class="header-settings">
                <ul>
                  <currency-switcher
                    active-currency='appConfig.activeCurrency'>
                  </currency-switcher>
                  <language-switcher active-language-key='activeLanguageKey'></language-switcher>
                </ul>
            </div>
        </nav>
    </div>
</header>
