<footer class="footer">
  <span class="footer-copyright">
    &copy; {{ T.footer.copyright }}
  </span>
  <span class="footer-links">
    <a href="#">{{ T.footer.links.about }}</a>
    <a href="#">{{ T.footer.links.blog }}</a>
    <a href="#">{{ T.footer.links.jobs }}</a>
    <a href="legal.html">{{ T.footer.links.legal }}</a>
    <a href="privacy.html">{{ T.footer.links.privacy }}</a>
  </span>
  <span class="footer-contact">
     <a href="#">{{ T.footer.links.contact }}</a>
     <a href="#">{{ T.footer.links.feedback }}</a>
  </span>
</footer>