<section class="dashboard">

  <div class="dashboard-container">
    <h2>Why 1ClickTrips?</h2>

    <div class="dashboard-info-box">
      <h3>End-To-End trip management</h3>

      <span class="dashboard-info-icon trip"></span>
      <span class="dashboard-info-text">TEXT</span>
    </div>

    <div class="dashboard-info-box">
      <h3>Create a personal travel profile</h3>

      <span class="dashboard-info-icon plane"></span>
      <span class="dashboard-info-text">TEXT</span>
    </div>

    <div class="dashboard-info-box">
      <h3>A trip matching your target date</h3>

      <span class="dashboard-info-icon calendar"></span>
      <span class="dashboard-info-text">TEXT</span>
    </div>

    <div class="dashboard-info-box">
      <h3>Schedule your meetings with ease</h3>

      <span class="dashboard-info-icon suitcase"></span>
      <span class="dashboard-info-text">TEXT</span>
    </div>
  </div>
</section>
