<footer class="footer">
  <span class="footer-copyright">
    &copy; {{ T.footer.copyright }}
  </span>
  <span class="footer-links">
    <a href="http://www.1clicktrips.com/{{ locale }}/about" target="_blank">{{ T.footer.links.about }}</a>
    <a href="http://www.1clicktrips.com/{{ locale }}/blog" target="_blank">{{ T.footer.links.blog }}</a>
    <a href="http://www.1clicktrips.com/{{ locale }}/legal" target="_blank">{{ T.footer.links.legal }}</a>
    <a href="http://www.1clicktrips.com/{{ locale }}/privacy" target="_blank">{{ T.footer.links.privacy }}</a>
  </span>
</footer>
