<h3 class="settings-sub-title">{[ "dashboard_bookings_label" | translate ]}</h3>

<div ng-show="bookingList.length > 0">
  <table class="settings-bookings-table">
    <thead>
      <tr>
        <th>{[ "general_date" | translate ]}</th>
        <th>{[ "general_destination" | translate ]}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="settings-bookings-item" ng-repeat="booking in bookingList">
        <td>{[booking.date]}</td>
        <td>{[booking.destination]}</td>
        <td><a ui-sref="settings.booking.detail({id: booking.id})"><i class="fa fa-eye"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="bookings-empty-message" ng-show="!bookingList || bookingList.length == 0">
  {[ "dashboard_bookings_empty" | translate ]}
</div>
