{{> partials/_header }}
{{> modules/mod_navbar }}

<section class="about wrapper">
  <div class="view-container">
    <div class="introduction-container">
      <div class="introduction">
        <div class="introduction-content">
          <div class="introduction-image">
            <img src="http://placehold.it/180x180" alt="1ClickTrips logo"/>
          </div>

          <div class="introduction-text">
            <h1>BUSINESS TRAVEL AT ITS BEST</h1>
            <p>
              Finding a trip to make it to your next appointment can become a big hassle.
              How can you get there?
              Does your trip in time? Is there enough transfer times between each trip segment?
              Do you need to arrive the day before? Is there any cheaper option?
            </p>
          </div>
          <div class="clearfix"></div>
        </div> <!-- end of introduction-content -->


        <div class="ask-question">
          <p>We will answer those questions, in a matter of seconds instead of hours of research!</p>
          <a class="button">Try it!</a>
        </div>

      </div> <!-- end of introduction -->
    </div> <!-- end of introduction-container -->

    <div class="parters-container">
      <div class="parters">
        <div class="partner-title">Our parters</div>
        <div class="parter-list">
          <div class="parter-item">
            <div class="image-wrapper">
              <img src="/images/expedia_logo.png" alt="Expedia">
            </div>
          </div>
          <div class="parter-item">
            <div class="image-wrapper">
              <img src="/images/skyscanner_logo.png" alt="Skyscanner">
            </div>
          </div>
          <div class="parter-item">
            <div class="image-wrapper">
              <img src="/images/rome2rio_logo.png" alt="Rome2Rio">
            </div>
          </div>
          <div class="parter-item">
            <div class="image-wrapper">
              <img src="/images/tripadvisor_logo.png" alt="TripAdvisor">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of parter-container -->

    <div class="team-container">
      <div class="team">
        <div class="team-title">Team</div>
        <div class="member-list">

          <div class="member">
            <img class="member-picture" src="http://placehold.it/180x180"/>
            <div class="member-name">Rudiger Gros</div>
            <div class="role">CEO and Motivator</div>
            <div class="separator"></div>
            <div class="social-links-wrapper">
              <ul class="social-links">
                <li>
                  <a href="#" title="Twitter"><i class="fa fa-border fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#" title="LinkedIn"><i class="fa fa-border fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#" title="Twitter"><i class="fa fa-border fa-xing"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="member">
            <img class="member-picture" src="http://placehold.it/180x180"/>
            <div class="member-name">Sascha Gros</div>
            <div class="role">Architect and Mediator</div>
            <div class="separator"></div>
            <div class="social-links-wrapper">
              <ul class="social-links">
                <li>
                  <a href="#" title="Twitter"><i class="fa fa-border fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#" title="LinkedIn"><i class="fa fa-border fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#" title="Twitter"><i class="fa fa-border fa-github"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="member">
            <img class="member-picture" src="http://placehold.it/180x180"/>
            <div class="member-name">Nam Tran</div>
            <div class="role">Lead Developer</div>
            <div class="separator"></div>
            <div class="social-links-wrapper">
              <ul class="social-links">
                <li>
                  <a href="#" title="Twitter"><i class="fa fa-border fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#" title="LinkedIn"><i class="fa fa-border fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#" title="Twitter"><i class="fa fa-border fa-github"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div> <!-- end of member-list -->
      </div> <!-- end of team -->
    </div> <!-- end of team-container -->

    <div class="mission-container">
      <div class="mission">
        <div class="mission-title">Our Mission</div>

        <p class="mission-quote">
          <i class="fa fa-quote-left fa-3x"></i>
          Make business travel booking easy
          <i class="fa fa-quote-right fa-3x"></i>
          </p>

      </div> <!-- end of mission -->
    </div> <!-- end of missing-container -->
  </div>
</section>

<section class="newsletter">
  <h2 class="newsletter-title">{[ "newsletter_title" | translate ]}</h2>

  <div class="newsletter-input">
    <form>
      <input type="text" class="newsletter-input-text" placeholder="{[ 'newsletter_placeholder' | translate ]}" />
      <input type="button" class="button newsletter-input-button" value="{[ 'newsletter_submit' | translate ]}" />
    </form>
  </div>
</section>

{{> modules/mod_footer }}
{{> partials/_footer }}
