{{> partials/_header }}
{{> modules/mod_navbar }}

<div class="about">
  <section class="about-intro">
    <div class="about-intro-container">
      <img class="about-intro-image" src="/images/logo.svg" alt="1ClickTrips logo" />
      <div class="about-intro-info">
        <h1 class="about-intro-info-title">{{ T.about.intro.title }}</h1>
        <p class="about-intro-info-text">{{ T.about.intro.text }}</p>
      </div>
      <p class="about-intro-text">{{ T.about.intro.promise }}</p>
      <div class="about-intro-button">
        <a class="button">{{ T.about.intro.button }}</a>
      </div>
    </div>
  </section>

  <section class="about-story">
    <h2 class="about-story-title">{{ T.about.story.title }}</h2>
    <p class="about-story-abstract">{{ T.about.story.text }}</p>
    <a href="" class="about-story-more">{{ T.about.story.more }}</a>
  </section>

  <section class="about-team">
    <h2 class="about-team-title">{{ T.about.team.title }}</h2>
    <ul class="about-team-list">
      <li class="about-team-list-item">
        <img class="about-team-list-item-image" src="http://placehold.it/180x180"/>
        <div class="about-team-list-item-name">Rudiger Gros</div>
        <div class="about-team-list-item-role">{{ T.about.team.ruediger }}</div>

        <ul class="about-team-list-item-social">
          <li class="about-team-list-item-social-item">
            <a href="https://twitter.com/grosonair" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="about-team-list-item-social-item">
            <a href="https://ch.linkedin.com/in/ruedigergros" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
          <li class="about-team-list-item-social-item">
            <a href="https://www.xing.com/profile/Ruediger_Gros" title="Xing" target="_blank"><i class="fa fa-xing"></i></a>
          </li>
        </ul>
      </li>
      <li class="about-team-list-item">
        <img class="about-team-list-item-image" src="http://placehold.it/180x180"/>
        <div class="about-team-list-item-name">Sascha Gros</div>
        <div class="about-team-list-item-role">{{ T.about.team.sascha }}</div>

        <ul class="about-team-list-item-social">
          <li class="about-team-list-item-social-item">
            <a href="https://twitter.com/swapzone" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="about-team-list-item-social-item">
            <a href="https://de.linkedin.com/in/saschagros" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
          <li class="about-team-list-item-social-item">
            <a href="https://github.com/swapzone" title="Github" target="_blank"><i class="fa fa-github"></i></a>
          </li>
        </ul>
      </li>
      <li class="about-team-list-item">
        <img class="about-team-list-item-image" src="http://placehold.it/180x180"/>
        <div class="about-team-list-item-name">Nam Tran</div>
        <div class="about-team-list-item-role">{{ T.about.team.nam }}</div>

        <ul class="about-team-list-item-social">
          <li class="about-team-list-item-social-item">
            <a href="ttps://twitter.com/namtran_wd" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="about-team-list-item-social-item">
            <a href="http://www.quora.com/Nam-Khanh-Tran" title="Quora" target="_blank"><i class="fa fa-external-link"></i></a>
          </li>
          <li class="about-team-list-item-social-item">
            <a href="https://github.com/davidtran" title="Github" target="_blank"><i class="fa fa-github"></i></a>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="about-mission">
    <h2 class="about-mission-title">{{ T.about.mission.title }}</h2>
    <p class="about-mission-quote">
      <i class="fa fa-quote-left"></i>
      <i class="fa fa-quote-right"></i>
      <span class="about-mission-quote-text">{{ T.about.mission.text }}</span>
    </p>
  </section>
</div>

<section class="newsletter">
  <h2 class="newsletter-title">{{ T.newsletter.title }}</h2>
  <div class="newsletter-input">
    <form>
      <input type="text" class="newsletter-input-text" placeholder="{{ T.newsletter.placeholder }}" />
      <input type="button" class="button newsletter-input-button" value="{{ T.newsletter.submit }}" />
    </form>
  </div>
</section>

{{> modules/mod_footer }}
{{> partials/_footer }}
