<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <title>{{ T.login.success }}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
  <p>{{ T.login.success }}</p>
  <script type="text/javascript">
    var urlArray = window.location.href.split('?token=');
    var token = null;
    if (urlArray.length > 1 && urlArray[1] != '') {
      token = urlArray[1];
    }
    var state = token != null ? 'success' : 'failed';

    window.opener.postMessage({
      name: 'authState',
      token: token,
      state: state
    }, 'http://dev.1clicktrips.com');

    window.close();
  </script>
</body>
</html>

