{{> partials/_header }}
  <div id="wrapper">
    {{> modules/mod_navbar }}

    <div class="content-placeholder" ng-class="{ 'full-height': fullHeight }" ui-view>
      {{> modules/mod_dashboard }}
    </div>
  </div>
  <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9-ZIG4bma6FIUumqPyYwWTlU-Gc5QnMY&libraries=places,geometry"></script>

  <script src="../scripts/vendor.js"></script>
  <script src="../scripts/script.js"></script>
  <script>
    var locale = '{{ locale }}';
    var T = Locales[locale][locale];
  </script>
  {{> modules/mod_footer }}
{{> partials/_footer }}
