<!-- ASK FOR CUSTOMER DETAILS -->
<h3 class="booking-content-title">{[ "booking_payment_customer_title" | translate ]}</h3>
<form name="informationForm">
  <div class="booking-content-group customer-data">
    <fieldset>
      <label for="firstName">{[ "booking_payment_customer_firstname" | translate ]}</label>
      <input type="text" ng-model="bookingData.user.first_name" name="firstName" id="firstName" required/>
    </fieldset>

    <fieldset>
      <label for="lastName">{[ "booking_payment_customer_lastname" | translate ]}</label>
      <input type="text" ng-model="bookingData.user.last_name" name="lastName" id="lastName" required/>
    </fieldset>

    <fieldset>
      <label for="email">{[ "booking_payment_customer_email" | translate ]}</label>
      <input type="email" ng-model="bookingData.user.email" name="email" id="email" required/>
    </fieldset>
  </div>

  <!-- OFFER PAYMENT TYPES: PAYPAL OR CREDIT CARD -->
  <div class="booking-content-group payment-option">

  </div>

  <!-- ASK FOR PAYMENT DETAILS -->
  <div class="booking-content-group payment-details">
    <h3 class="booking-content-title">{[ "booking_payment_info_title" | translate ]}</h3>
    <fieldset>
      <label for="nameOnCard">{[ "booking_payment_info_name" | translate ]}</label>
      <input type="text" ng-model="bookingData.payment.nameOnCard" name="nameOnCard" id="nameOnCard" required/>

    </fieldset>

    <fieldset>
      <label for="cardNumber">{[ "booking_payment_info_number" | translate ]}</label>
      <input type="number" ng-model="bookingData.payment.cardNumber" name="cardNumber" id="cardNumber" required/>
      <span class="input-error" ng-show="informationForm.cardNumber.$error.invalid">{[ "booking_payment_info_invalid" | translate ]}</span>
    </fieldset>

    <label>{[ "booking_payment_info_expiration" | translate ]}</label>
    <fieldset class="booking-content-form-expiration">
      <select ng-model="bookingData.payment.expirationMonth"
              name="expirationMonth"
              ng-options="item.value as item.label for item in months"
              required></select>
      <select ng-model="bookingData.payment.expirationYear"
              name="expirationYear"
              ng-options="item for item in years"
              required></select>
    </fieldset>

    <fieldset>
      <label for="secret">{[ "booking_payment_info_secret" | translate ]}</label>
      <input type="number"
            ng-model="bookingData.payment.secret"
            name="secret"
            id="secret"
            required
            limit-to="3"/>
      <span class="input-error" ng-show="informationForm.secret.$error.invalid"></span>
    </fieldset>
  </div>


  <!-- OFFER THE CREATION OF AN ACCOUNT -->
  <div ng-if="false === isLogin" class="booking-content-group create-account">
    <h3 class="booking-content-title">{[ "booking_payment_account" | translate ]}</h3>
    <div class="booking-content-form create-account-group">
      <fieldset>
        <label>{[ "booking_payment_customer_email" | translate ]}</label>
        <input type="email" ng-model="account.email" name="email"/>
      </fieldset>
      <fieldset>
        <label>{[ "booking_payment_customer_password" | translate ]}</label>
        <input type="password" ng-model="account.password" name="password"/>
      </fieldset>
    </div>
  </div>

  <!-- ACTION BUTTONS -->
  <div class="booking-content-buttons">
    <a class="button--light back" ng-click="back()">{[ "general_back" | translate | capitalize ]}</a>
    <a class="button next" ng-click="continue()">{[ 'general_continue' | translate | capitalize ]}</a>
  </div>
</form>
