<div class="booking-content-summary">
  <div class="booking-content-summary-label">Your trip to</div>
  <div class="booking-content-summary-info">
    <span class="booking-content-summary-info-location">{[ trip.outbound.destination.description ]}</span>
    <span class="booking-content-summary-info-date">
      From {[ trip.startTime | date: "dd.MM.yyyy" ]} to
      {[ trip.endTime | date: "dd.MM.yyyy" ]}
    </span>
  </div>
  <div class="booking-content-summary-label break-line">Contains the following travel segments</div>
</div>


<div ng-repeat="(dayNumber, groupSegment) in trip.groupSegment">
  <ul class="booking-content-list">
    <li class="booking-content-list-item" ng-repeat="(key, segment) in groupSegment">
        <span class="booking-content-list-item-col icon">
          <i class='fa {[ segment.type | vehicleTypeToIcon ]}'></i>
        </span>
        <span class="booking-content-list-item-col location">
          <span ng-if='segment.start.description == "Origin"' class="title">
            {[segment.end.description]}
          </span>
          <span ng-if='segment.end.description == "Destination"' class="title">
            {[segment.start.description]}
          </span>
          <span ng-if='segment.start.description != "Origin" && segment.end.description != "Destination"' class="title">
            {[segment.start.description]} - {[segment.end.description]}
          </span>

          <span class="details">Deutsche Bahn, Regional train</span>
          <span class="time">April 24, 2015: 7:04 - 7:53</span>
        </span>
        <span class="booking-content-list-item-col price">
          {{ segment.price.amount | price: segment.price.currency }}
        </span>

        <span class="booking-content-list-item-col include">
          <!-- BOOKABLE ITEM -->
          <div class="enable-booking" ng-if="segment.bookable && segment.price.amount > 0">
            <fieldset>
              <input type="checkbox" ng-model="segment.isBooked" name="isBooked[{[key]}]" id="isBooked[{[key]}]" />
              <label for="isBooked[{[key]}]">Include in Booking</label>
            </fieldset>
          </div>

          <!-- NON-BOOKABLE ITEM -->
          <div class="disable-booking" ng-if="!segment.bookable || segment.price.amount == 0">
            <fieldset>
              <input type="checkbox" disabled/>
              <label>Include in Booking</label>
            </fieldset>
            <a class="disable-booking-provider-reference" ng-href="segment.providerUrl" ng-show="segment.price.amount > 0" target="_blank">Go to provider</a>
          </div>
        </span>
    </li>
  </ul>
</div>
<div class="validate-error" ng-show="bookingError">You must book at least of one segment</div>
<div class="booking-content-buttons">

  <a class="button--light back" ng-click="back()">Back</a>

  <a class="button next" ng-click="continue()">Continue</a>

  <a class="button--light next" ng-click="">Save</a>
</div>


