<section class="booking">
	<h1 class="booking-title">{{ 'booking.title' | translate }}</h1>

	<div class="booking-summary">
		<h2 class="booking-sub-title">{{ 'booking.summary.title' | translate }}</h2>

		<div class="booking-summary-item">
			<i class="fa fa-home"></i>
			<span class="booking-summary-item-content">
			{{searchParams.originDescription }}
			</span>
		</div>
		<div class="booking-summary-item">
			<i class="fa fa-flag-checkered"></i>
			<span class="booking-summary-item-content">
				{{searchParams.destinationDescription }}
			</span>
		</div>
		<div class="booking-summary-item">
			<i class="fa fa-money"></i>
			<span class="booking-summary-item-content">
				{{ tripDetails.price | priceFormatter : tripDetails.currency }}
			</span>
		</div>
		<div class="booking-summary-item">
			<i class="fa fa-hourglass-half"></i>
			<span class="booking-summary-item-content">
				{{ tripDetails.duration | durationFormatter : 'full' }}
			</span>
		</div>
	</div>

	<div class="booking-details">
		<h2 class="booking-sub-title">{{ 'booking.details.title' | translate }}</h2>

		<div class="booking-container"
				 ng-repeat="container in tripDetails.segmentsContainer"
				 ng-init="containerIndex = $index">

			<div class="booking-segment-item"
					 ng-repeat="segment in getSegments(containerIndex, container)">

				<div class="booking-segment-info">
					<div class="booking-segment-title">
						{{ getActionVerbBySegmentType(segment) }}
            {{ 'booking.from' | translate }}
            {{ segment.start.description }}
            {{ 'booking.to' | translate }}
            {{ segment.end.description }}
					</div>
					<div class="booking-segment-info-item">
						{{ segment.departureTime | dateFormatter : segment['start']['timeZone'] : null : 'long' }} -
						{{ segment.arrivalTime | dateFormatter : segment['end']['timeZone'] : 'HH:mm' }}
					</div>
					<div class="booking-segment-info-item duration">
						{{ segment.duration | durationFormatter : 'full' }}
					</div>
					<div class="booking-segment-info-item link" ng-if="segment['bookingLink']">
						<a href="{{ segment['bookingLink'] }}" target="_blank">{{ 'booking.details.goto' | translate }}</a>
					</div>
				</div>
				<div class="booking-segment-map">
					<static-map class="static-map"
											path="getSegmentPath(segment)"
											start="segment.start.location"
											end="segment.end.location">
					</static-map>
				</div>
			</div>
		</div>
	</div>

	<div class="booking-action">
		<a ng-click="goBack()" class="button--light">{{ 'general.back' | translate | capitalize }}</a>
		<a class="button" ng-click="printPage($event)">{{ 'booking.print' | translate }}</a>
		<a class="button" ng-click="downloadIcsFile()">{{ 'booking.download' | translate }}</a>
	</div>
</section>
