<section class="booking">
  <div ng-if="bookingData == null" class="container">
    Please <a ui-sref="index">search</a> for trip before go to booking page
  </div>

  <div ng-if="bookingData != null" class="container">
    <!-- BOOKING PROGRESS CONTROL -->
    <ul class="booking-progress">
      <div class="booking-process-line"></div>
      <li ng-class="{active: step == 1}" class="booking-progress-step">
        <span class="booking-progress-step-number">1</span>
        <span class="booking-progress-step-label">Select Trip Segments</span>
      </li>
      <li ng-class="{active: step == 2}" class="booking-progress-step">
        <span class="booking-progress-step-number">2</span>
        <span class="booking-progress-step-label">Booking and Payment Details</span>
      </li>
      <li ng-class="{active: step == 3}" class="booking-progress-step">
        <span class="booking-progress-step-number">3</span>
        <span class="booking-progress-step-label">Booking Confirmation</span>
      </li>
    </ul>

    <!-- BOOKING CONTAINER -->
    <div class="booking-content">

      <booking-select-segments
        trip="bookingData.trip"
        next-step="paymentStep"
        previous-step="mapView"
        total-booking-price="totalBookingPrice"
        booking-fee="bookingFee"
        booking-price="bookingPrice"
        ng-show="step == 1"></booking-select-segments>

      <booking-payment-information
        booking-data="bookingData"
        previous-step="selectionStep"
        next-step="confirmationStep"
        ng-show="step == 2"></booking-payment-information>

      <booking-confirmation
        booking-data="bookingData"
        previous-step="paymentStep"
        next-step="successStep"
        ng-show="step == 3"></booking-confirmation>

      <div class="booking-success" ng-show="step == 4">
      Thanks for booking
      </div>

    </div>

    <!-- BOOKING SIDEBAR -->
    <div class="booking-sidebar">
      <div class="booking-sidebar-box">
        <h3 class="booking-sidebar-box-title"><i class="fa fa-suitcase"></i>Budget</h3>
        <span class="booking-sidebar-box-text">Not yet available.</span>
      </div>
      <div class="booking-sidebar-box">
        <h3 class="booking-sidebar-box-title"><i class="fa fa-shopping-cart"></i>Overview</h3>
        <span class="booking-sidebar-box-text">
          <span class="booking-sidebar-box-text-row">
            <span class="left">Booking total</span>
            <span class="right">{[ bookingPrice | price: bookingData.trip.currency ]}</span>
          </span>
          <span class="booking-sidebar-box-text-row">
            <span class="left">Booking fees ({[ appConfig.bookingRate ]}%)</span><span class="right">{[ bookingFee | price: bookingData.trip.currency ]}</span>
          </span>
          <div class="separator"></div>
          <span class="booking-sidebar-box-text-row">
            <span class="left">Total</span><span class="right bold">{[ totalBookingPrice | price: bookingData.trip.currency ]}  EUR</span>
          </span>
        </span>
      </div>
    </div>
  </div>
</section>
