<h3 class="booking-content-title">Confirm booking</h3>

<div class="booking-content-confirmation">
  Please confirm your booking:

  <span class="booking-content-confirmation-overview">
     <!-- TODO: add booking overview here -->
     <div class="booking-content-confirmation-overview-title">
       from {[bookingData.trip.origin]} to {[bookingData.trip.destination]}
     </div>

      <div class="booking-content-confirmation-overview-time">
        From {[ bookingData.trip.startTime | date: "dd.MM.yyyy" ]} to {[ bookingData.trip.endTime | date: "dd.MM.yyyy" ]}
      </div>

      <div class="booking-content-confirmation-overview-price">
        {[bookingData.trip.totalCost | price: bookingData.trip.currency]}
      </div>

      <div class="booking-content-confirmation-overview-segments">

        <ul class="booking-content-confirmation-overview-segments-list" ng-show="selectedSegments.length > 0">
          <li class="booking-content-confirmation-overview-segments-item" ng-repeat="segment in selectedSegments track by segment.id">

            <span ng-if='segment.start.description == "Origin"' class="title">
              {[segment.end.description]}
            </span>
            <span ng-if='segment.end.description == "Destination"' class="title">
              {[segment.start.description]}
            </span>
            <span ng-if='segment.start.description != "Origin" && segment.end.description != "Destination"' class="title">
              {[segment.start.description]} - {[segment.end.description]}
            </span>

          </li>
        </ul>

        <div class="no-selected-segments" ng-show="selectedSegments.length == 0">
          No selected segments
        </div>

      </div>

  </span>
</div>

<!-- ACTION BUTTONS -->
<div class="booking-content-buttons">
  <a class="button--light back" ng-click="back()">Back</a>

  <a class="button next" ng-click="book(bookingData)">Book now</a>
</div>
