<div class="booking-content-summary">
  <div class="booking-content-summary-label">{[ "booking_select_title" | translate ]}</div>
  <div class="booking-content-summary-info">
    <span class="booking-content-summary-info-location">{[ bookingData.trip.outbound.destination.description ]}</span>
    <span class="booking-content-summary-info-date">
      {[ "general_from" | translate | capitalize ]} {[ bookingData.trip.startDate | date: "dd.MM.yyyy" ]}
      {[ "general_until" | translate ]} {[ bookingData.trip.endDate | date: "dd.MM.yyyy" ]}
    </span>
  </div>
  <div class="booking-content-summary-label break-line">{[ "booking_select_content" | translate ]}</div>
</div>


<div ng-repeat="(dayNumber, groupSegment) in bookingData.trip.groupSegment">
  <ul class="booking-content-list">
    <li class="booking-content-list-item" ng-repeat="(key, segment) in groupSegment">
        <span class="booking-content-list-item-col icon">
          <i class='fa {[ segment.type | vehicleTypeToIcon ]}'></i>
        </span>
        <span class="booking-content-list-item-col location">
          <span ng-if='segment.start.description == "Origin"' class="title">
            {[segment.end.description]}
          </span>
          <span ng-if='segment.end.description == "Destination"' class="title">
            {[segment.start.description]}
          </span>
          <span ng-if='segment.start.description != "Origin" && segment.end.description != "Destination"' class="title">
            {[segment.start.description]} - {[segment.end.description]}
          </span>

          <span class="details">{[ segment.description ]}</span>
          <span class="time">
            {[ segment.departureTime | untilTime: segment.arrivalTime ]}
            </span>
        </span>
        <span class="booking-content-list-item-col price">
          {{ segment.price.amount | price: segment.price.currency }}
        </span>

        <span class="booking-content-list-item-col duration">
          {{ segment.duration | durationToTime:"%h hrs %m mins" }}
        </span>

        <span class="booking-content-list-item-col include">
          <!-- BOOKABLE ITEM -->
          <div class="enable-booking" ng-if="segment.bookable && segment.price.amount > 0">
            <fieldset>
              <input type="checkbox" ng-model="segment.isBooked" ng-change="handleBookableChange()" name="isBooked[{[key]}]" id="isBooked[{[key]}]" />
              <label for="isBooked[{[key]}]">{[ "booking_select_include" | translate ]}</label>
            </fieldset>
          </div>

          <!-- NON-BOOKABLE ITEM -->
          <div class="disable-booking" ng-if="!segment.bookable || segment.price.amount == 0">
            <fieldset>
              <input type="checkbox" disabled />
              <label>{[ "booking_select_include" | translate ]}</label>
            </fieldset>
            <a class="disable-booking-provider-reference" ng-href="segment.providerUrl" ng-show="segment.price.amount > 0" target="_blank">{[ "booking_select_provider" | translate ]}</a>
          </div>
        </span>
    </li>
  </ul>
</div>

<div class="booking-content-help" ng-show="!bookable">
  <span class="booking-content-help-title">{[ "booking_select_warning_title" | translate ]}</span>
  <span class="booking-content-help-text">
    {[ "booking_select_warning_text1" | translate ]}
  </span>
  <span class="booking-content-help-text">
    {[ "booking_select_warning_text2" | translate ]}
  </span>
  <span class="booking-content-help-text save" ng-show="isBookingStored">
    {[ "booking_select_notification" | translate ]}
  </span>
</div>

<div class="booking-content-buttons">
  <a class="button--light back" ng-click="back()">{[ "general_back" | translate | capitalize ]}</a>

  <a class="button next" ng-class="{ 'is-disabled': !bookable }" ng-click="continue()">{[ "general_continue" | translate | capitalize ]}</a>
  <a class="button--light next" ng-class="{'is-disabled': isBookingStored }" ng-click="save()">{[ "general_save" | translate | capitalize ]}</a>
</div>


