<h3 class="booking-content-title">{[ "booking_confirmation_title" | translate ]}</h3>

<div class="booking-content-confirmation">
  <span class="booking-content-confirmation-overview">
     <div class="booking-content-confirmation-overview-title">
       {[ bookingData.trip.outbound.origin.description ]} {[ "general_to" | translate ]} {[ bookingData.trip.outbound.destination.description ]}
     </div>

      <div class="booking-content-confirmation-overview-time">
        {[ "general_from" | translate | capitalize ]} {[ bookingData.trip.startTime | date: "dd.MM.yyyy" ]}
        {[ "general_until" | translate ]} {[ bookingData.trip.endTime | date: "dd.MM.yyyy" ]}
      </div>

      <div class="booking-content-confirmation-overview-price">
        {[ "booking_confirmation_total" | translate ]}
        {[bookingData.trip.totalCost | price: bookingData.trip.currency]}
      </div>

      <div class="booking-content-confirmation-overview-segments">
        {[ "booking_confirmation_selection" | translate ]}

        <ul class="booking-content-confirmation-overview-segments-list" ng-show="selectedSegments.length > 0">
          <li class="booking-content-confirmation-overview-segments-item" ng-repeat="segment in selectedSegments track by segment.id">
            <span ng-if='segment.start.description == "Origin"' class="title">
              {[segment.end.description]}
            </span>
            <span ng-if='segment.end.description == "Destination"' class="title">
              {[segment.start.description]}
            </span>
            <span ng-if='segment.start.description != "Origin" && segment.end.description != "Destination"' class="title">
              {[segment.start.description]} - {[segment.end.description]}
            </span>
          </li>
        </ul>

        <div class="no-selected-segments" ng-show="selectedSegments.length == 0">
          {[ "booking_confirmation_empty" | translate ]}
        </div>
      </div>
  </span>
</div>

<!-- ACTION BUTTONS -->
<div class="booking-content-buttons">
  <div class="booking-error" ng-show="bookingError">
    {[ "booking_save_error" | translate ]}
  </div>

  <a class="button--light back" ng-click="back()">{[ "general_back" | translate | capitalize ]}</a>
  <a class="button next" ng-click="book()">{[ "booking_confirmation_booknow" | translate ]}</a>
</div>

