<section class="forgot-password wrapper">
  <div class="view-container">
    <h1>{[ "forgot_form_title" | translate ]}</h1>
    <form name="forgotPasswordForm" ng-submit="submit()" ng-hide="sent">
      <fieldset>
        <label>{[ "forgot_form_email" | translate ]}</label>
        <input type="email"
                name="email"
                ng-model="email"
                required/>
      </fieldset>

      <div class="forgot-password-error"
            ng-show="error == 'error.email.address.not.exists'">
            {[ "forgot_form_error_email_not_exists" | translate ]}
      </div>

      <input type="submit" value="{[ 'forgot_form_submit' | translate ]}"/>
    </form>
    <div class="sent-password-reset-link" ng-show="sent">{[ "forgot_form_sent" | translate ]}</div>
  </div>
</section>
