<a href="#" class="modal-close" ng-click="cancel()"><i class="fa fa-close"></i></a>

<form name="forgotPasswordForm" ng-submit="submit()">
  <div class="modal-header">
    <h1 class="signin-modal-title">{[ "forgot_form_title" | translate ]}</h1>
  </div>

  <div class="modal-body">
    <span id="signin-error"
          class="input-alert"
          ng-show="error == 'error.email'">
      {[ "forgot_form_error_email" | translate ]}
    </span>

    <div class="sent-password-reset-link" ng-show="sent">{[ "forgot_form_sent" | translate ]}</div>

    <fieldset ng-hide="sent">
      <label>{[ "forgot_form_email" | translate ]}</label>
      <input type="email"
              name="email"
              ng-model="email"
              required/>
    </fieldset>
  </div>

  <div class="modal-footer">
    <a class="button" ng-click="submit()" ng-hide="sent">{[ 'forgot_form_submit' | translate ]}</a>
  </div>
</form>

