<section class="forgot-password wrapper">
  <div class="view-container">
    <h1>{[ "forgot_form_title" | translate ]}</h1>
    <form name="forgotPasswordForm" ng-submit="submit()">
      <fieldset ng-hide="sent">
        <label>{[ "forgot_form_email" | translate ]}</label>
        <input type="email"
                name="email"
                ng-model="email"
                required/>
      </fieldset>
      <div class="sent-password-reset-link" ng-show="sent">{[ "forgot_form_sent" | translate ]}</div>
      <div class="forgot-password-error" ng-show="error">{[ "forgot_form_error" | translate ]}</div>
      <input type="submit" value="{[ 'forgot_form_submit' | translate ]}"/>
    </form>
  </div>
</section>
