<a href="#" class="modal-close" ng-click="cancel()"><i class="fa fa-close"></i></a>
<form class="signin-modal-content" id="signinForm" name="loginForm" ng-submit="login()">

  <div class="modal-header">
    <h1 class="signin-modal-title">{[ i18n.login_header | translate ]}</h1>
  </div>

  <div class="modal-body">
    <span id="signin-error" class="input-alert" ng-show="loginForm.$error.unauthorized">
      {[ i18n.login_form_error | translate ]}
    </span>

    <fieldset>
      <input type="email"
            name="email"
            class="input"
            placeholder="{[ i18n.login_form_username | translate ]}"
            ng-model="email"
            required/>
    </fieldset>
    <fieldset>
      <input type="password"
            name="password"
            class="ttg-input"
            placeholder="{[ i18n.login_form_password | translate ]}"
            ng-model="password"
            required />
    </fieldset>
    <fieldset>
      <input type="checkbox" name="agreement" id="ttg-checkbox-signin">
      <label for="ttg-checkbox-signin">{[ i18n.login_form_check | translate ]}</label>
    </fieldset>
  </div>

  <div class="modal-footer">
    <input type="submit" class="button" value="{[ i18n.login_form_submit | translate ]}" />
    <a class="modal-forgot-password">{[ i18n.login_form_forgot | translate ]}</a>

    <span class="modal-annotation">
      {[ i18n.login_annotation_notyet | translate ]}
      <a href='#' ng-click='showSignupModal()'>
        {[ i18n.login_annotation_signup | translate ]}
      </a>
      {[ i18n.general_or | translate ]}
      <a href="#" ng-click='loginTwitter()'>
        {[ i18n.login_annotation_twitter | translate ]}
        <i class='fa fa-twitter'></i>
      </a>
    </span>
  </div>

</form>