<a href="#" class="modal-close" ng-click="cancel()"><i class="fa fa-close"></i></a>
<form class="signin-modal-content" id="signinForm" name="loginForm" ng-submit="login()">
  <div class="modal-header">
    <h1 class="signin-modal-title">{[ 'login_header' | translate ]}</h1>
  </div>

  <div class="modal-body">
    <span id="signin-error" class="input-alert" ng-show="loginForm.$error.unauthorized">
      {[ 'login_form_error' | translate ]}
    </span>

    <fieldset>
      <input type="email"
            name="email"
            class="input"
            placeholder="{[ 'login_form_username' | translate ]}"
            ng-model="email"
            ng-keydown="loginOnKeydown($event)"
            required/>
    </fieldset>
    <fieldset>
      <input type="password"
            name="password"
            class="ttg-input"
            placeholder="{[ 'login_form_password' | translate ]}"
            ng-model="password"
            ng-keydown="loginOnKeydown($event)"
            required />
    </fieldset>
    <fieldset>
      <input type="checkbox" name="rememberMe" id="ttg-checkbox-signin" ng-model="rememberMe">
      <label for="ttg-checkbox-signin">{[ "login_form_check" | translate ]}</label>
    </fieldset>
  </div>

  <div class="modal-footer">
    <a class="button" ng-click="login()">{[ 'login_form_submit' | translate ]}</a>
    <a class="modal-forgot-password" ng-click="showForgotPasswordModal()">{[ "login_form_forgot" | translate ]}</a>

    <span class="modal-annotation">
      {[ "login_annotation_notyet" | translate ]}
      <a href='#' ng-click='showSignupModal()'>
        {[ "login_annotation_signup" | translate ]}
      </a>
      {[ "general_or" | translate ]}
      <a href="#" ng-click='loginTwitter()'>
        {[ "login_annotation_twitter" | translate ]}
        <i class='fa fa-twitter'></i>
      </a>
    </span>
  </div>
</form>
