<section class="reset-password wrapper">
  <div class="view-container">
    <h1>{[ "resetpassword_form_title" | translate ]}</h1>
    <form name="forgotPasswordForm"
          ng-submit="submit()"
          ng-hide="success || !isValidToken">

      <fieldset ng-hide="sent">
        <input type="text"
                name="password"
                ng-model="password"
                placeholder="{[ 'resetpassword_form_password' | translate ]}"
                required/>
      </fieldset>

      <fieldset>
        <input type="text"
                name="confirmPassword"
                ng-model="confirmPassword"
                placeholder="{[ 'resetpassword_form_confirmpassword' | translate ]}"
                required/>
      </fieldset>

      <div ng-show="error == 'error.invalid.token' ">

      </div>
      <input type="submit" class="button" value="{[ 'resetpassword_form_submit' | translate ]}"/>

    </form>

    <div ng-show=" ! isValidToken">{[ "resetpassword_form_invalid_token" | translate ]}</div>

    <div ng-show="success">Your password has been changed</div>
  </div>
</section>
