<section class="reset-password container">
  <h1>{[ "resetpassword_form_title" | translate ]}</h1>
  <form name="forgotPasswordForm"
        ng-submit="submit()"
        ng-hide="success || !isValidToken">

    <fieldset ng-hide="sent">
      <input type="password"
              name="password"
              ng-model="password"
              placeholder="{[ 'resetpassword_form_password' | translate ]}"
              required/>
    </fieldset>

    <fieldset>
      <input type="password"
              name="confirmPassword"
              ng-model="confirmPassword"
              placeholder="{[ 'resetpassword_form_confirmpassword' | translate ]}"
              required/>
    </fieldset>

    <div ng-show="error == 'error.invalid.token' "></div>
    <input type="submit" class="button" value="{[ 'resetpassword_form_submit' | translate ]}"/>
  </form>

  <div ng-show=" ! isValidToken">{[ "resetpassword_form_invalid" | translate ]}</div>
  <div ng-show="success">{[ "resetpassword_form_success" | translate ]}</div>
</section>
