<a href="#" class="modal-close" modal-close><i class="fa fa-close"></i></a>
<form class="form modal-content" id="signupForm" name="signupForm" ng-submit='signup(signupData)'>
  <h1 class="modal-title">{[ i18n.signup_header | translate ]}</h1>
  <h4 class="modal-subtitle">{[ i18n.signup_headersub | translate ]}</h4>
  <span class='signup-form-alert' ng-show="signupForm.$error.message">

  </span>
  <fieldset>
    <input type="email"
          name="email"
          placeholder="{[ i18n.signup_form_email | translate ]}"
          ng-model='signupData.email'
          required/>
    <span class="input-alert"
          id="signup-email-alert"
          ng-show="signupForm.email.$error.exist">This email is already used.</span>
    <span class="input-alert"
      id="signup-email-alert"
      ng-show="signupForm.email.$error.invalid">Invalid email</span>
    <span class="input-alert" id="signup-email-alert"></span>
  </fieldset>
  <fieldset>
    <input type="password"
          class="ttg-input"
          name="password"
          placeholder="{[ i18n.signup_form_password | translate ]}"
          ng-model='signupData.password'
          required />
    <span class="input-alert"
      id="signup-password-alert"
      ng-show="signupForm.password.$error.invalid">Invalid email</span>
  </fieldset>
  <fieldset>
    <input type="checkbox"
          name="agreement"
          id="ttg-checkbox-signup"
          />
    <label for="ttg-checkbox-signup">{[ i18n.signup_form_check | translate ]}</label>
  </fieldset>
  <div class="form-actions">
    <input type="submit"
          class="button signup"
          value="{[ i18n.signup_form_submit | translate ]}" />
    <span class="alternative">{[ i18n.signup_form_submitsub | translate ]}</span>
  </div>
</form>

