<a href="#" class="modal-close" ng-click="cancel()"><i class="fa fa-close"></i></a>
<form id="signupForm" name="signupForm" ng-submit='signup(signupData)'>
  <div class="modal-header">
    <h1 class="modal-title">{[ "signup_header" | translate ]}</h1>
    <h4 class="modal-subtitle">{[ "signup_headersub" | translate ]}</h4>
  </div>

  <div class="modal-body">
    <span>
      <span id="signup-agreement-alert" class="input-alert" ng-show="signupForm.email.$error.agreement">
        {[ "signup_form_error_agreement" | translate ]}
      </span>
      <span id="signup-email-alert" class="input-alert" ng-show="signupForm.email.$error.exist">
        {[ "signup_form_error_email" | translate ]}
      </span>
       <span id="signup-other-alert" class="input-alert" ng-show="signupForm.email.$error.other">
         {[ "signup_form_error_other" | translate ]}
      </span>
    </span>

    <fieldset>
      <input type="email"
             name="email"
             placeholder="{[ 'signup_form_email' | translate ]}"
             ng-model='signupData.email'
             required />
    </fieldset>
    <fieldset>
      <input type="password"
             name="password"
             placeholder="{[ 'signup_form_password' | translate ]}"
             ng-model='signupData.password'
             required />
    </fieldset>
    <fieldset>
      <input type="checkbox"
             name="agreement"
             id="ttg-checkbox-signup"
             ng-model="agreement" />
      <label for="ttg-checkbox-signup" ng-bind-html="'signup_form_check' | translate"></label>
    </fieldset>
  </div>

  <div class="modal-footer">
    <input type="submit"
          class="button signup"
          value="{[ 'signup_form_submit' | translate ]}" />
    <span class="alternative">{[ 'general_or' | translate ]} <a ng-click="showLoginModal()">{[ 'signup_form_signin' | translate ]}</a></span>
    <span class="modal-footer-annotation">{[ 'signup_annotation' | translate ]}</span>
  </div>
</form>