@import "../bower_components/susy/sass/susy";

$width-container: 1080px;

// mobile layout
$susy: (
  columns: 6,
  gutters: 0.35,
  container: $width-container,
  gutter-position: split,
  //debug: (image: show),
  global-box-sizing: border-box
);

.wrapper {
  @include container;
}

.clearfix {
  @include clearfix;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%layout {

  @include respond-above("medium") {
    
  }

  @include respond-above("large") {

  }
}