<div class="waiting" ng-show="isShowing">
  <div class="globe">
    <div class="bird">
      <div class="body">
        <div class="eye left"></div>
        <div class="eye right"></div>
        <div class="beak"><div></div></div>
        <div class="feet"></div>
        <div class="wire"></div>
      </div>
      <div class="hills"></div>
      <div class="cloud"></div>
      <div class="cloud small"></div>
    </div>
  </div>

  <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom waiting-animation"></i>
  <h1 class="waiting-message">
    {{ title }}
  </h1>
  <span class="waiting-reference">
    Dozing Bird based on <a href="https://dribbble.com/shots/2015903-Dozing-bird" target="_blank">dribbble</a> by Colin Chang
  </span>
</div>
