# this is the 1ClickTrips API documentation
swagger: '2.0'
info:
  title: 1ClickTrips API
  description: Business travel at its best
  version: "1.0.0"
# the domain of the service
host: api.1clicktrips.com
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  #########################################################################
  # Authentication API
  #########################################################################
  /auth/register:
    post:
      summary: User Signup
      description: |
        The user signup takes a username and a password as post arguments
        and returns an auth token with its expiration date.
      tags:
        - Auth
      parameters:
        - name: email
          in: body
          required: true
          schema:
            type: string
        - name: password
          in: body
          required: true
          schema:
            type: string
      responses:
        200:
          description: Authentication token for a user
          schema:
            $ref: '#/definitions/Authentication'
        401:
          description: Authentication failure
          schema: 
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  
  /auth/local:
    post:
      summary: User Signin
      description: |
        The user signin takes a username and a password as post arguments
        and returns an auth token.
      tags:
        - Auth
      parameters:
        - name: email
          in: body
          required: true
          schema:
            type: string
        - name: password
          in: body
          required: true
          schema:
            type: string
      responses:
        200:
          description: Authentication token for a user
          schema:
            $ref: '#/definitions/Authentication'
        401:
          description: Authentication failure
          schema: 
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  
  /auth/twitter:
    get: 
      summary: Twitter Signin
      description: |
        The Twitter authentication will be done with Twitter oauth2.
      tags:
        - Auth
      responses:
        200:
          description: Twitter signin successful
          schema:
            $ref: '#/definitions/Authentication'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  
#  /auth/connect/twitter:
#    get:
#      summary: Twitter Auth
#      description: |
#        Connect the Twitter account to the local account.
#      tags:
#        - Auth
#      responses: 
#        200:
#          description: Twitter connect successful
#          schema:
#            $ref: '#/definitions/Authentication'
#        default:
#          description: Unexpected error
#          schema:
#            $ref: '#/definitions/Error'
        
  /auth/unlink/twitter:
    get:
      summary: Unlink Twitter Accout
      description: |
        The Twitter account can be unlinked from the local account. 
      tags:
        - Auth
      responses:
        200:
          description: Twitter unlink successful
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /auth/logout:
    get:
      summary: Log out 
      description: |
        Log out the user and delete the cookie from the server.
      tags: 
        - Auth
        - User
      responses:
        200:
          description: Logout successful
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  #/auth/google:
  #/auth/unlink/google:
    
  #/auth/facebook:
  #/auth/unlink/facebook:
            
  #########################################################################
  # User Account API
  #########################################################################
  /account/profile:
    get:
      summary: User Profile
      description: |
        The User Profile endpoint returns information about the 1clicktrips
        user that has authenticated with the application.
      tags:
        - User
        - Settings
      responses:
        200:
          description: Profile information for a user
          schema:
            $ref: '#/definitions/Profile'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post: 
      summary: Update User Profile
      description: |
        The User Profile can be only updated collectively.
      tags:
        - User
        - Settings
      parameters:
        - name: body
          in: body
          required: true
          schema: 
            $ref: '#/definitions/Profile'
      responses:
        200:
          description: Update of Profile successful
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  
  /account/settings:
    get:
      summary: User Settings
      description: |
        The Settings endpoint returns information on the user settings of 
        the currently authenticated user. 
      tags:
        - Settings
        - User
      responses:
        200:
          description: An array of settings
          schema:
            type: array
            items:
              $ref: '#/definitions/Setting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post: 
      summary: Update User Settings
      description: |
        User settings can be updated one at a time. It must be assured, that
        all information are supplied to be able to create a new setting or 
        update an existing one.
      tags:
        - Settings
        - User
      parameters:
        - name: body
          in: body
          required: true
          schema: 
            $ref: '#/definitions/Setting'
      responses:
        200:
          description: Update of setting successful
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    
  /account/favorites:
    get:
      summary: Get User Favorites
      description: |
        The User Favorites endpoint returns data about a user's favorites 
        that he saved before.
        - name: limit
          in: query
          type: integer
          format: int32
          description: |
            Number of items to retrieve. Default is 5, maximum is 100.
      tags:
        - User
      responses:
        200:
          description: List of favorites for the given user
          schema:
            $ref: '#/definitions/Favorites'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post: 
      summary: Update Favorites
      description: |
        Save a new favorite or edit an existing one. 
      tags:
        - User
      parameters:
        - name: body
          in: body
          required: true
          schema: 
            $ref: '#/definitions/Favorite'
      responses:
        200:
          description: Creation/Update of favorites successful
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /account/bookings:
    get:
      summary: User History
      description: |
        The User History endpoint returns data about a user's lifetime 
        activity with 1clicktrips.
      parameters:
        - name: offset
          in: query
          type: integer
          format: int64
          description: |
            The offset is given as seconds since the UNIX epoche. Only 
            look for trips that have been booked after this date. Default
            is zero.
        - name: limit
          in: query
          type: integer
          format: int32
          description: |
            Number of items to retrieve. Default is 5, maximum is 30.
      tags:
        - User
      responses:
        200:
          description: History information for the given user
          schema:
            $ref: '#/definitions/Bookings'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  #########################################################################
  # Search API
  #########################################################################
  /search/events:
    get:
      summary: Event List
      description: |
        The events endpoint will deliver a list of events to the client
        that match with the given query criteria.
      tags:
        - Search
      parameters:
        - name: search_string
          in: query
          description: The search string to filter the events for
          required: true
          type: string
        - name: start_date
          in: query
          description: The start date of the trip to be planned
          required: false
          type: string
        - name: end_date
          in: query
          description: The end date of the trip to be planned
          required: false
          type: string
        - name: limitation
          in: query
          description: The maximum number of events to return
          required: false
          type: number
          format: integer
      responses:
          200:
            description: An array of events
            schema:
              type: array
              items:
                $ref: '#/definitions/Event'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'  
    
  /search/trips:
    post:
      summary: Trip Results
      description: | 
        The Trips endpoint returns a collection of trips that matches with 
        the given parameters. 
      tags:
        - Search
      parameters:
        - name: start_description
          in: body
          description: Description of start location
          required: false
          schema:
            type: string
        - name: start_latitude
          in: body
          description: Latitude component of start location
          required: true
          schema:
            type: number
            format: double
        - name: start_longitude
          in: body
          description: Longitude component of start location
          required: true
          schema:
            type: number
            format: double
        - name: end_description
          in: body
          description: Description of end location
          required: false
          schema:
            type: string
        - name: end_latitude
          in: body
          description: Latitude component of end location
          required: true
          schema:
            type: number
            format: double
        - name: end_longitude
          in: body
          description: Longitude component of end location
          required: true
          schema:
            type: number
            format: double
        - name: start_time
          in: body
          description: Time string for the local start time of the appointment
          required: true
          schema:
            type: string
            format: '2014-11-12T19:05:00'
        - name: end_time
          in: body
          description: Time string for the local end time of the appointment
          required: true
          schema:
            type: string
            format: '2014-11-12T19:05:00'
        - name: roundtrip
          in: body
          description: Roundtrip option
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: An array of trips
          schema:
            type: array
            items:
              $ref: '#/definitions/Itinerary'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  
  /search/alternatives:
    get:
      summary: Trip Alternatives
      description: | 
        The Alternatives endpoint returns a collection of alternatives 
        for a given trip segment. 
      tags:
        - Search
      parameters:
        - name: trip_id
          in: query
          description: The trip ID of the requested trip
          required: true
          type: string
        - name: segment_id
          in: query
          description: The segment ID of the segment to be replaced
          required: true
          type: string
        - name: limitation
          in: query
          description: The maximum number of alternatives
          required: false
          type: number
          format: integer
      responses:
          200:
            description: An array of alternatives
            schema:
              type: array
              items:
                $ref: '#/definitions/Segment' # TODO create proper format
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'          
              
  #########################################################################
  # Language API
  #########################################################################
  /locales:
    get:
      summary: Language File
      description: | 
        The language file for a given language code.
      tags:
        - Language
        - Localization
      responses:
        200:
          description: A JSON array with the available languages
          schema:
            type: array
            items:
              $ref: '#/definitions/Language'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /locales/{languageCode}:
    get:
      summary: Language File
      description: | 
        The language file for a given language code.
      tags:
        - Language
        - Localization
      parameters:
        - name: languageCode
          in: path
          required: true
          type: string
          description: ISO 639-1 Language Codes
      responses:
        200:
          description: A JSON object with the translations
          schema:
            type: object
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  #########################################################################
  # Currency API
  #########################################################################
  /currencies:
    get:
      summary: List of Currencies
      description: | 
        The list of available currencies.
      tags:
        - Language
        - Localization
      responses:
        200:
          description: A JSON array with the available currencies
          schema:
            type: array
            items:
              $ref: '#/definitions/Currency'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
#########################################################################
# API Data Definitions
#########################################################################
definitions:
  Authentication:
    required:
      - token
      - expires
    properties:
      token:
        type: string
        description: Authentication token
      expires:
        type: number
        format: int
        description: Expiration date of the auth token
  Language:
    properties:
      code: 
        type: string
        description: ISO 639-1 Language Code (e.g. en-US)
      name: 
        type: string
        description: The name of the language (e.g. English)
  Currency:
    properties:
      code:
        type: string
        description: EUR
      symbol: 
        type: string
        description: €
      thousandsSeparator: 
        type: string
      decimalSeparator: 
        type: number
        format: int16
      symbolOnLeft: 
        type: boolean
      spaceBetweenAmountAndSymbol: 
        type: boolean
      roundingCoefficient: 
        type: number
        format: int16
      decimalDigits: 
        type: number
        format: int16
  Setting:
    properties:
      category: 
        type: string
        description: The category of the key-value pair
      key: 
        type: string
        description: The settings key (e.g. early bird)
      value:
        type: string
        description: The settings value (e.g. true)
      description: 
        type: string
        description: The description for the key-value pair
  Itinerary:
    properties:
      id: 
        type: string
        description: Unique identifier
      outbound:
        $ref: '#/definitions/Trip'
      inbound:
        $ref: '#/definitions/Trip'
      price:
        type: number
        format: double
      currency:
        type: string
        description: The ISO 4217 currency code
      type: 
        type: number
        format: int32
        description: |
          Defines the trip result type
            0 = budget
            1 = time
            2 = comfort
  Trip:
    properties:
      id:
        type: string
      origin: 
        $ref: '#/definitions/Location'
      destination:
        $ref: '#/definitions/Location'
      departureTime: 
        type: string
        format: '2014-11-12T19:05:00'
      arrivalTime: 
        type: string
        format: '2014-11-12T19:05:00'
      distance: 
        type: number
        format: double
      duration:
        type: number
        format: int32
      segments:
        type: array
        items: 
          $ref: '#/definitions/Segment'
  Location:
    properties:
      latitude:
        type: number
        format: double
      longitude:
        type: number
        format: double
  Segment: 
    properties:
      id:
        type: string
      origin: 
        $ref: '#/definitions/Location'
      destination:
        $ref: '#/definitions/Location'
      departureTime: 
        type: string
        format: '2014-11-12T19:05:00'
      arrivalTime: 
        type: string
        format: '2014-11-12T19:05:00'
      duration:
        type: number
        format: int32
        description: Duration in minutes
      type:
        type: number
        format: int32
        description: | 
          Travel option used. 
          Stay = 0, Walk = 1, Taxi = 2, Car = 4, 
          Bus = 8, Train = 16, Plane = 32
      price:
        type: number
        format: double
      currency:
        type: string
        description: The ISO 4217 currency code
  Profile:
    required:
      - email
    properties:
      first-name:
        type: string
        description: First name of the user
      last-name:
        type: string
        description: Last name of the user
      email:
        type: string
        description: Email address of the user
      address:
        $ref: '#/definitions/Address'
      picture:
        type: string
        description: Image URL of the user
      promo-code:
        type: string
        description: Promo code of the user
  Address:
    properties:
      street: 
        type: string
      zip:
        type: number
        format: int32
      city: 
        type: string
      country:
        type: string
  Favorites:
    properties:
      count:
        type: integer
        format: int32
        description: Total number of favorites available
      trips:
        type: array
        items:
          $ref: '#/definitions/Favorite'
  Favorite:
    required: 
      - start
      - end
    properties:
      uuid:
        type: string
        description: Unique identifier for the favorite
      start:
        type: string
        description: |  
          The start location of the booking. Can be an address
          or a description (e.g. home)
      end:
        type: string
        description: |  
          The end location of the booking. Can be an address
          or a description (e.g. company name)
      transport:
        type: array
        items:
          type: number
          format: int32
          description: |
            Travel option used. 
            Walk = 1, Taxi = 2, Car = 4, Bus = 8, 
            Train = 16, Plane = 32
  Bookings:
    properties:
      count:
        type: integer
        format: int32
        description: Total number of bookings available
      trips:
        type: array
        items:
          $ref: '#/definitions/Booking'
  Booking:
    properties:
      uuid:
        type: string
        description: Unique identifier for the booking
      start:
        type: string
        description: |  
          The start location of the booking. Can be an address
          or a description (e.g. home)
      end:
        type: string
        description: |  
          The end location of the booking. Can be an address
          or a description (e.g. company name)
      date:
        type: string
        format: '2014-11-12'
  Event:
    properties:
      id:
        type: number
        format: int64
      title:
        type: string
      description:
        type: string
      location:
        type: object
        $ref: '#/definitions/Location'
      tags:
        type: array
        items:
          type: string
      dates:
        type: array
        items: 
           $ref: '#/definitions/Timing'
      open:
        type: boolean
        description: |
          Indicates if the event is open, when the user planned 
          the according trip.
      url:
        type: string
      image:
        type: string
  Timing:
    properties:
      start:
        type: string
        description: |
          ISO 8601 time and date
          "2015-02-09T02:54:51+00:0"
      end:
        type: string
        description: |
          ISO 8601 time and date
          "2015-02-09T02:54:51+00:0"
  Error:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string