<div class="search">
  <form class="search-form">
    <div class="search-form-title">
      <h1>Get the perfect trip for your appointment with</h1>
      <img src="./images/logo.png" alt="1ClickTrips Logo" />
    </div>

    <!-- ORIGIN FORM -->
    <div class="search-form-item location">
      <label for="origin" class="search-form-item-label">{{ 'search.form.origin' | translate }}</label>
      <input
        type="text"
        id="origin"
        class='search-form-item-input'
        placeholder='{{ "search.form.origin" | translate }}'
        name='origin'
        tabindex="1"
        ng-model='schedule.originAddress'
        typeahead="address.description for address in getAddressSuggestion($viewValue)"
        typeahead-on-select="selectOriginSuggestion($item, $model, $label)" />
    </div>

    <!-- DESTINATION FORM -->
    <div class="search-form-item location">
      <label for="destination" class="search-form-item-label">{{ 'search.form.destination' | translate }}</label>
      <input
        type="text"
        id='destination'
        class='search-form-item-input'
        placeholder='{{ "search.form.destination" | translate }}'
        name='destination'
        tabindex="2"
        ng-model='schedule.destinationAddress'
        typeahead="address.description for address in getAddressSuggestion($viewValue)"
        typeahead-on-select="selectDestinationSuggestion($item, $model, $label)" />
    </div>

    <!-- SCHEDULE FORM -->
    <div class="search-form-item timing">

      <div class='search-form-item small'>
        <label for="date" class="search-form-item-label">{{ 'search.form.date.label' | translate }}</label>
        <input
          type="text"
          id="date"
          tabindex="3"
          show-weeks="false"
          date-disabled="disabled(date, mode)"
          ng-model="schedule.time"
          datepicker-options="dateOptions"
          datepicker-popup="{{ format }}"
          ng-required="true"
          show-button-bar="false"
          is-open="isOpenDatePicker"

          readonly
          required />
        <span class="search-form-input-label" ng-click="toggleStartDatePicker($event)">
          <i class="fa fa-calendar"></i>
        </span>
      </div>

      <div class='search-form-item small'>
        <label for="time" class="search-form-item-label">{{ 'search.form.time.label' | translate }}</label>
        <input
          type="text"
          id="time"
          tabindex="4"
          time="schedule.time"
          placeholder="{{ 'search.form.time.placehoder' | translate }}"
          popup-time-picker
          is-open="isOpenTimePicker"
          required />
        <span class="search-form-input-label" ng-click="toggleStartTimePicker()">
          <i class="fa fa-clock-o"></i>
        </span>
      </div>
    </div>

    <a ng-click="startSearch()"
       ng-keypress="($event.which === 13) ? startSearch() : 0"
       class="button"
       tabindex="5">{{ 'search.form.start' | translate }}</a>
  </form>
  <div class="search-form-map">
    <!-- add map view here -->

    <div class="magnifier">
      <div class="inner-circle">
        <!-- add zoomed map view here -->
      </div>
      <div class="handle"></div>
    </div>

    <div class="search-dropzone">
      <dropzone schedule="schedule"></dropzone>
    </div>
  </div>
</div>
