<section class="search wrapper">
  <div class="search-steps">
    <!--------------------- -->
    <!-- SEARCH NAVIGATION  -->
    <!--------------------- -->
    <ul class="search-step-list">
      <li class="search-step" ng-class="{active: step == 1, done: isStep1Ready}" ng-click='step1()'>
        <div class="search-step-circle location">
          <i class="fa fa-map-marker"></i>
          <span class="search-step-active-indicator"></span>
        </div>
        {[ i18n.search_navigation_destination | translate ]}
      </li>
      <li class="search-step" ng-class="{active: step == 2, done: isStep2Ready}" ng-click='step2()'>
        <div class="search-step-circle timing">
          <i class="fa fa-suitcase"></i>
          <span class="search-step-active-indicator"></span>
        </div>
        {[ i18n.search_navigation_timing | translate]}
      </li>
      <li class="search-step" ng-class="{active: step == 3, done: isStep3Ready}" ng-click='step3()'>
        <div class="search-step-circle origin">
          <i class="fa fa-home"></i>
          <span class="search-step-active-indicator"></span>
        </div>
        {[ i18n.search_navigation_origin | translate ]}
      </li>
    </ul>
  </div>

  <div class="search-form-container">
    <!--------------------- -->
    <!-- DESTINATION FORM ------ -->
    <!--------------------- -->
    <div ng-controller='searchDestinationFormCtrl'>
      <form name='searchForm' class="search-form" ng-show='step == 1'>
        <h2>{[ i18n.search_form_destination_label | translate ]}</h2>

        <div class="search-form-location-field">
          <input
                  type="text"
                  placeholder="{[ i18n.search_form_destination_placeholder | translate ]}"
                  name='destination'
                  ng-model='destination'
                  typeahead="address.description for address in getSuggestion($viewValue)"
                  typeahead-on-select="selectDestinationSuggestion($item, $model, $label)" />

          <div ng-model='destinationType' class="btn-group search-form-location-field-dropdown" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
              <i class="fa {[ destinationType | destinationTypeToIcon ]}"></i><span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li ng-repeat="item in destinationTypeArray" ng-click="setDestinationType(item)">{[item]}</li>
              <!--<li class="divider"></li>-->
            </ul>
          </div>
        </div>

        <map-marker address="$parent.destinationAddress" class="search-destination-map"></map-marker>
        <div class="search-form-process-indicator">
          <span class="search-form-process-step active"></span>
          <span class="search-form-process-step"></span>
          <span class="search-form-process-step"></span>
        </div>
        <a ng-click="step2()" class="button--dark" ng-class="{ 'is-disabled': ! $parent.isStep1Ready }">{[ i18n.search_form_control_next | translate ]}</a>
      </form>
    </div>

    <!--------------------- -->
    <!-- SCHEDULE FORM ---- -->
    <!--------------------- -->
    <div ng-controller='searchDateTimeSelectCtrl'>
      <form name='scheduleForm' class='search-form' ng-show='step == 2'>
        <h2>{[ i18n.search_form_time | translate ]}</h2>

        <div class='search-form-timing-container start'>
          <div class='popup-date-picker-container date'>
            <input
                    type="text"
                    class="form-control date"
                    tab-index="1"
                    show-weeks="false"
                    ng-model="$parent.startDate"
                    datepicker-options="dateOptions"
                    datepicker-popup="{[format]}"
                    ng-required="true"
                    placeholder="Start Date"
                    is-open="isOpenStartDatePicker"
                    show-button-bar="false"
                    close-text="Close"
                    ng-click="openStartDatePicker($event)"
                    readonly />
            <i class="fa fa-calendar"></i>
          </div>
          <div class='popup-date-picker-container time'>
            <input
                    type="text"
                    class="form-control time"
                    tab-index="2"
                    ng-model="$parent.startTime"
                    sy-timepicker-popup="HH:mm"
                    show-meridian="true"
                    is-open="isOpenStartTimePicker"
                    show-seconds="false"
                    placeholder="Start time"
                    ng-click="openStartTimePicker($event)"
                    readonly />
            <i class="fa fa-clock-o"></i>
          </div>
        </div>
        <div class='search-form-timing-container end'>
          <div class='popup-date-picker-container date'>
            <input
                    type="text"
                    class="form-control date"
                    tab-index="3"
                    show-weeks="false"
                    ng-model="$parent.endDate"
                    datepicker-options="dateOptions"
                    datepicker-popup="{[format]}"
                    ng-required="true"
                    placeholder="End Date"
                    is-open="isOpenEndDatePicker"
                    show-button-bar="false"
                    close-text="Close"
                    ng-click="openEndDatePicker($event)"
                    readonly />
            <i class="fa fa-calendar"></i>
          </div>
          <div class='popup-date-picker-container time'>
            <input
                    type="text"
                    class="form-control time"
                    tab-index="4"
                    sy-timepicker-popup="HH:mm"
                    ng-model="$parent.endTime"
                    show-meridian="true"
                    is-open="isOpenEndTimePicker"
                    show-seconds="false"
                    placeholder="End time"
                    ng-click="openEndTimePicker($event)"
                    readonly />
            <i class="fa fa-clock-o"></i>
          </div>
        </div>

        <div class="search-form-process-indicator">
          <span class="search-form-process-step"></span>
          <span class="search-form-process-step active"></span>
          <span class="search-form-process-step"></span>
        </div>
        <a
          ng-click="step3()"
          class="button--dark"
          ng-class="{ 'is-disabled': ! $parent.isStep2Ready }">
          {[ i18n.search_form_control_next | translate ]}
        </a>
      </form>
    </div>

    <!--------------------- -->
    <!-- ORIGIN FORM ------ -->
    <!--------------------- -->
    <div ng-controller='searchOriginCtrl'>
      <form name='searchForm' class="search-form" ng-show='step == 3'>
        <h2>{[ i18n.search_form_origin | translate ]}</h2>

        <div class="search-form-location-field">
          <input
                  type="text"
                  placeholder="{[ i18n.search.form.origin | translate ]}"
                  name='origin'
                  ng-model='origin'
                  typeahead="address.description for address in getAddressSuggestion($viewValue)"
                  typeahead-on-select="selectOriginSuggestion($item, $model, $label)" />
        </div>

        <map-marker address="$parent.originAddress" class="search-destination-map"></map-marker>
        <div class="search-form-process-indicator">
          <span class="search-form-process-step"></span>
          <span class="search-form-process-step"></span>
          <span class="search-form-process-step active"></span>
        </div>
        <a
          ng-click="startSearch()"
          class="button--dark"
          ng-class="{ 'is-disabled': ! $parent.isStep3Ready }">
          {[ i18n.search_form_control_submit | translate ]}
        </a>
      </form>
    </div>
  </div>
</section>


