<section class="search">
  <form class="search-form">

      <!-- ORIGIN FORM -->
      <div class="search-form-item" ng-controller='searchOriginCtrl'>
        <span class="fa fa-map-marker search-form-item-icon"></span>
        <label for="origin" class="search-form-item-label">Origin location</label>
        <input
          type="text"
          id="origin"
          class='search-form-item-input'
          placeholder='Origin location'
          name='origin'
          tabindex="1"
          ng-model='origin'
          typeahead="address.description for address in getAddressSuggestion($viewValue)"
          typeahead-on-select="selectOriginSuggestion($item, $model, $label)" />
      </div>

      <!-- DESTINATION FORM -->
      <div class="search-form-item" ng-controller='searchDestinationFormCtrl'>
        <span class="fa fa-flag-o search-form-item-icon"></span>
        <label for="destination" class="search-form-item-label">Destination location</label>
        <input
          type="text"
          id='destination'
          class='search-form-item-input'
          placeholder='Destination location'
          name='destination'
          tabindex="2"
          ng-model='destination'
          typeahead="address.description for address in getSuggestion($viewValue)"
          typeahead-on-select="selectDestinationSuggestion($item, $model, $label)" />
      </div>

      <!-- SCHEDULE FORM -->
      <div class="search-form-item" ng-controller='searchDateTimeSelectCtrl'>

        <div class='search-form-item small'>
          <i class="fa fa-calendar"></i>
          <label for="date_start" class="search-form-item-label">Appointment date</label>
          <input
            type="text"
            id="date_start"
            tabindex="3"
            ng-model="$parent.startDateString"
            placeholder="Appointment start date (DD.MM.YYYY)"
            required />
        </div>

        <div class='search-form-item small'>
          <i class="fa fa-clock-o"></i>
          <label for="time_start" class="search-form-item-label">Appointment time</label>
          <input
            type="text"
            id="time_start"
            tabindex="4"
            ng-model="$parent.startTimeString"
            placeholder="Appointment start time (hh:mm)"
            required />
        </div>
      </div>

      <div class="search-form-item">
          <a ng-click="startSearch()"
             ng-keypress="($event.which === 13) ? startSearch() : 0"
             class="button"
             tabindex="5">Start search</a>
      </div>
  </form>
</section>
